/* toggle sidebar classes */

.toggleMenu {
    width: 250px !important;
}

.navbar-on-toggle {
    /* max-width: calc(100vw - 250px) !important; */
    margin-left: 250px !important;
}

/* toggle sidebar classes ends */
/*
.sidenav {
	min-width:50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444bd6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

#main {
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s;
    /* padding: 16px; */
}

/* #mySidenav {
	width:50px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */



/* css from codepen */

 /* Toggle Styles */

 .nav-pills>li>a {
    border-radius: 0;
 }

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }

 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }

 #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }

 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }

 .xyz {
    min-width: 360px;
 }

 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }

 .fixed-brand {
    width: auto;
 }
 /* Sidebar Styles */

 .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
 }

 .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
 }

 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
 }

 .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: red 2px solid;
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
 }

 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }

 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }

 .no-margin {
    margin: 0;
 }

 @media(min-width:768px) {
    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 20px;
       position: relative;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }


/* css from codepen ends */


.navbar {
    padding-left: 3px;
    padding-right:50px;
    margin-left: 50px;
}

.portfolio-description {
    margin-top:0;
}


.toggle-btn {
    background-color:transparent;
}

.second-or {
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
}

.import-btn:hover,
.import-btn:focus {
    -webkit-box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
    box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
}

.file-picker-mobile-btn {
    background-color: transparent;
    text-align: center;
}

.file-picker-mobile-btn > i {
    font-size:30px;
}

#toggle-sidemenu-btn {
    flex: 1;
}

#dropdown-options-menu {
    flex: 1;
}

@media(max-width:767px) {
    .sidenav {
        display: none;
    }

    #toggle-sidemenu-btn {
        display: none;
    }

    .navbar {
        margin-left:0px;
        padding-right: 10px;
    }

    #dropdown-options-menu {
        position: relative;
        top: 0;
        right: 0;
    }

    .nav > li {
        text-align: right;
    }
}

@media(min-width:768px) {
    .file-picker-mobile-btn {
        display: none;
    }
}

@media(max-width:425px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 13px;
    }
}

@media(max-width:375px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 10px;
    }
}

#main > .navbar {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#main > #portfolio-content {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#menu > li > a {
    position:relative;
}

.input-button {
    width:100%;
    height:100%;
    position:fixed;
    opacity: 0;
}

.btn:focus {
    outline: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-text-decoration {
    text-decoration: none;
}

.acadnion-navbar {
    height: 66px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 111;
}

.acadnion-logo-wrapper {
    padding: 8px;
    height: 100%;
    display: inline-block;
    flex: 2;
}

.acadnion-logo {
    width: 80%;
}

.preview-btn-wrapper {
    display: inline-block;
    flex: 8;
}

.preview-btn {
    background-color: #444bd6;
    border: none;
    color: #fff;
    padding: 10px 35px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}

.preview-btn:hover,
.preview-btn:focus {
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.acdn-portfolio-navbar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.portfolio-caption-wrapper {
    width: 93%;
    margin-left: 70px;
    margin-right: auto;
}

.portfolio-caption-close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 70px;
    padding: 0px 14px;
    border: 1px solid #444BD6;
    border-radius: 150%;
    text-align: right;
    display: block;
    width: 45px;
    cursor: pointer;
}

.portfolio-caption-heading {
    text-align: center;
}

.portfolio-caption-txt {
    text-align: center;
}

/* Beta Start */
.beta-tag-wrapper {
    position: fixed;
    top: 15px;
    right: -31px;
    width: 120px;
    height: 86px;
    z-index: 888;
}

.beta-tag {
    background: #444BD6;
    display: block;
    transform: rotate(45deg);
    height: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
/* Beta End */