<div>
  <app-sidebar  [navToggleVal]="navToggleVal"
                [webCamModalContainer]="webCamModalContainer"
                [videoUrlModalContainer]="videoUrlModalContainer"
                (navToggle)="navToggle()">
  </app-sidebar>

  <div id="main">

    <app-header [navToggleVal]="navToggleVal"
                (navToggle)="navToggle()"
                [isPreview]="true"
                (optionsMenu)="optionsMenu()"
                [portfolioProfile]="portfolioProfile">
    </app-header>

    <div id="portfolio-content" [class.navbar-on-toggle]="navToggleVal">

      <div class="row">
        <div class="col-md-12">
          <profile-manager  (updatePortfolioProfile)="updatePortfolioProfile($event)"></profile-manager>
          <portfolio-manager  [webCamModalContainer]="webCamModalContainer"
                              [videoUrlModalContainer]="videoUrlModalContainer"
                              (navToggle)="navToggle()">
          </portfolio-manager>
        </div>
      </div>

    </div>
  </div>

  <ng-container #_webCamModalContainer></ng-container>
  <ng-container #_videoUrlModalContainer></ng-container>
</div>

<!-- <div class="beta-tag-wrapper">
  <span class="beta-tag">BETA</span>
</div> -->