<nav class="navbar navbar-default no-margin acadnion-navbar" [class.navbar-on-toggle]="navToggleVal" >
  <div class="acdn-portfolio-navbar-wrapper">
    <button id="toggle-sidemenu-btn" class="btn toggle-btn" (click)="navToggle()">
      <i class="fa fa-bars" aria-hidden="true" style="font-size:20px;margin-top:10px;"></i>
    </button>
    <div class="acadnion-logo-wrapper">
      <img src="/acdn-portfolio/assets/icons/logo.png" alt="" class="acadnion-logo" />
    </div>

    <!-- Check loggedin user as well -->
    <div class="preview-btn-wrapper" *ngIf="isPreview && isCookieSet">
        <a routerLink="/{{portfolioProfile !== undefined ? portfolioProfile['username']: ''}}" class="acdn-btn acdn-btn-sm">Preview</a>
    </div>
    <div class="preview-btn-wrapper backToEditWrapper" *ngIf="!isPreview && isCookieSet">
        <a routerLink="/{{portfolioProfile !== undefined ? portfolioProfile['username']: ''}}/edit" class="acdn-btn acdn-btn-sm">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back to Edit
        </a>
    </div>

    <div class="logout-wrapper">
      <button class="logout-btn" *ngIf="isCookieSet" (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
      <a class="login-btn" *ngIf="!isCookieSet" data-toggle="modal" data-target="#new-login-signup-modal">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </div>

    <div  class="options-wrapper">
      <button class="options-action"
              (click)="openOptionsList()">
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </button>
      <ul class="options-contents"
          (blur)="optionsMenuOnBlur()"
          tabindex="0">
        <li>
          <i class="fa fa-cog" aria-hidden="true"></i>
          <a href="javascript:void(0);" class="options-txt">Option 1</a>
        </li>

        <li>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <a href="javascript:void(0);" class="options-txt">Option 2</a>
        </li>

      </ul>
    </div>

    <div  class="share-icons-wrapper">
      <button class="share-icons-action"
              (click)="openShareIconsList()">
              <i class="fa fa-share-alt" aria-hidden="true"></i>
      </button>
      <ul class="share-icons-contents"
          (blur)="shareMenuOnBlur()"
          tabindex="0">
        <li>
          <button type="button"
                  class="social-icon-txt-btn"
                  shareButton="facebook"
                  [sbTitle]="'Acadnion Title'"
                  [sbDescription]="'Acadnion Desc'"
                  [sbImage]="'imageurl'"
                  [sbTags]="'tags'">
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <a href="javascript:void(0);" class="social-icon-txt">Facebook</a>
          </button>
        </li>
        <li>
          <button type="button" class="social-icon-txt-btn"
                  shareButton="twitter"
                  [sbTitle]="'Acadnion Title'"
                  [sbDescription]="'Acadnion Desc'"
                  [sbImage]="'imageurl'"
                  [sbTags]="'tags'">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <a href="javascript:void(0);" class="social-icon-txt">Twitter</a>
          </button>
        </li>
        <li>
          <button type="button" class="social-icon-txt-btn"
                  shareButton="linkedin"
                  [sbTitle]="'Acadnion Title'"
                  [sbDescription]="'Acadnion Desc'"
                  [sbImage]="'imageurl'"
                  [sbTags]="'tags'">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <a href="javascript:void(0);" class="social-icon-txt">Linkedin</a>
          </button>
        </li>
      </ul>
    </div>

    <div class="back-to-edit-mobile-wrapper" *ngIf="!isPreview && isCookieSet">
      <button type="button"
              class="back-to-edit-mobile-btn"
              (click)="routeToEditPage()">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      </button>
    </div>


    <div class="dashboard-wrapper">
      <button class="dashboard-btn">
        <i class="fa fa-home" aria-hidden="true"></i>
      </button>
    </div>

  </div>
</nav>


<!-- Login Modal -->
<div class="modal fade" id="new-login-signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">LOGIN / SIGNUP</h4>
    </div>
    <div class="modal-body">
    <div role="tabpanel">
    
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" id="presentlogin">
    <a href="#login-tab" aria-controls="tab" role="tab" data-toggle="tab">LOGIN</a>
    </li>
    <li role="presentation" id="presentsignup">
    <a href="#signup-tab" aria-controls="home" role="tab" data-toggle="tab">SIGN UP</a>
    </li>
    </ul>
    <div class="tab-content">
      <div id="login-tab" class="tab-pane active">
      <div class="email-container">
      <header>Login with email</header>
      <form class="form-horizontal" id="login-tab-form" role="form" method="POST" action="" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <input id="email" type="email" class="form-control material-form" name="email" value="" autofocus="" placeholder="Email" [(ngModel)]="email" required />
          <small id="emailerror" #emailError></small>
        </div>
        <div class="form-group">
          <input id="password" type="password" class="form-control material-form" name="password" placeholder="Password" [(ngModel)]="password" style="width: 100%" required />
        </div>
        <div class="form-group">
        <button type="submit" class="btn-continue btn-material" id="login-submit">Continue</button>
        <a class="btn btn-link forgotPassword" href="/student/password/reset">Forgot Your Password?</a>
        </div>
      </form>
      </div>
      <div class="login-container">
      <header class="or-before-after">OR</header>
      <a href="/auth/google" class="btn btn-lg google"><span class="google-login-icon"><i class="fa fa-google" aria-hidden="true"></i></span><span class="google-login-text">Login with Google</span></a>
      <a href="/student/auth/facebook" class="btn btn-lg fb"><span class="fb-login-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span><span>Login with Facebook</span> </a>
      </div>
      </div>
      <div id="signup-tab" class="tab-pane fade">
        <div class="signup-container">
        <header>Sign up with email</header>
        <form id="signup-tab-form" class="form-horizontal" role="form" method="POST" action="">
        <div class="form-group">
        <input class="form-control material-form" type="text" placeholder="Full Name" id="full-name" name="full-name" value="" required="">
        </div>
        <div class="form-group">
        <input class="form-control material-form" type="email" placeholder="Email" id="s-email" name="email" value="" required="">
        <small id="signup-error"></small>
        </div>
        <div class="form-group">
        <input class="form-control material-form" type="password" placeholder="Password" id="s-password" name="password" required="">
        </div>
        <div class="checkbox">
        <label>
        <input type="checkbox" required><p>I accept the <a class="terms-of-service" target="_blank" href="https://www.acadnion.com/termsofuse">Terms of Service</a> and <a class="privacy-policy" href="https://www.acadnion.com/privacypolicy" target="_blank">Privacy Policy</a></p>
        </label>
        </div>
        <button type="submit" class="btn-material" id="validate_submit">Continue</button>
        </form>
        </div>
        <div class="signup-socialmedia-container">
        <header class="or-before-after">OR</header>
        <a href="/auth/google" class="btn btn-lg google">
        <span class="google-login-icon"><i class="fa fa-google" aria-hidden="true"></i></span>
        <span class="google-login-text">Sign up with Google</span></a>
        <a href="/student/auth/facebook" class="btn btn-lg fb"><span class="fb-login-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span><span>Sign up with Facebook</span></a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>