/* toggle sidebar classes */

/* toggle sidebar classes ends */
/*
.sidenav {
	min-width:50px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444bd6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

#main {
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s;
    /* padding: 16px; */
}

/* #mySidenav {
	width:50px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */



/* css from codepen */

 /* Toggle Styles */

 .nav-pills>li>a {
    border-radius: 0;
 }

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }

 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }

 #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }

 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }

 .xyz {
    min-width: 360px;
 }

 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }

 .fixed-brand {
    width: auto;
 }

 /* Sidebar Styles */

 .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
 }

 .sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
 }

 .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
 }

 .sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: red 2px solid;
 }

 .sidebar-nav li a:active,
 .sidebar-nav li a:focus {
    text-decoration: none;
 }

 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }

 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }

 .no-margin {
    margin: 0;
 }


 @media(min-width:768px) {

    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 20px;
       position: relative;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }


/* css from codepen ends */


.navbar {
    padding-left: 3px;
    padding-right:50px;
    margin-left: 50px;
}

.portfolio-description {
    margin-top:0;
}

#toggle-sidemenu-btn {
    margin-top: 4px;
    float: left;
}

.toggle-btn {
    background-color:transparent;
}

.second-or {
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
}

.import-btn:hover,
.import-btn:focus {
    -webkit-box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
    box-shadow: inset 8px 10px 20px 0 rgba(17,22,26,0.15);
}

.file-picker-mobile-btn {
    background-color: transparent;
    text-align: center;
}

.file-picker-mobile-btn > i {
    font-size:30px;
}

@media(max-width:767px) {
    .sidenav {
        display: none;
    }

    .navbar {
        margin-left:0px;
        padding-right: 10px;
    }

    #dropdown-options-menu {
        position: relative;
        top: 0;
        right: 0;
    }

    .nav > li {
        text-align: right;
    }
}

@media(min-width:768px) {
    .file-picker-mobile-btn {
        display: none;
    }
}

@media(max-width:425px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 13px;
    }
}

@media(max-width:375px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 10px;
    }
}

#main > .navbar {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#main > #portfolio-content {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

#menu > li > a {
    position:relative;
}

.input-button {
    width:100%;
    height:100%;
    position:fixed;
    opacity: 0;
}

.btn:focus {
    outline: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-text-decoration {
    text-decoration: none;
}

.acadnion-navbar {
    height: 66px;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 111;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    border-radius: 0;
}

.acadnion-logo-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    display: block;
    float: left;
}

.acadnion-logo {
    max-width: 135px;
    margin-left: 16px;
}

.preview-btn-wrapper {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.portfolio-caption-wrapper {
    width: 93%;
    margin-left: 70px;
    margin-right: auto;
}

.portfolio-caption-close {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 70px;
    padding: 0px 14px;
    border: 1px solid #444BD6;
    border-radius: 150%;
    text-align: right;
    display: block;
    width: 45px;
    cursor: pointer;
}

.portfolio-caption-heading {
    text-align: center;
}

.portfolio-caption-txt {
    text-align: center;
}

/* Share Menu */
.share-icons-wrapper {
    float: right;
    width: 60px;
}

.share-icons-action {
    display: block;
    margin-top: 14px;
    margin-bottom: 10px;
    border: none;
    background: transparent;
    outline: none;
    color: #444bd6;
    margin-left: auto;
    margin-right: auto;
}

.share-icons-action:hover,
.share-icons-action:focus {
    opacity: 0.8;
}

.share-icons-action:after {
    content: 'Share';
    display: block;
    font-size: 12px;
    color: #444bd6;
}

.share-icons-contents {
    width: 120px;
    background: #fff;
    -webkit-perspective: 2000px; /* Safari 4-8  */
    perspective: 2000px;
    transform: rotate3d(1,1,0,15deg);
    -webkit-transform: rotate3d(1,1,0,15deg);
    -moz-transform: rotate3d(1,1,0,15deg);
    -ms-transform: rotate3d(1,1,0,15deg);
    -o-transform: rotate3d(1,1,0,15deg);
    transform-origin: 0 100%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    opacity: 0;
    transform-origin: top right;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    outline: none;

    position: relative;
    left: -30%;
}

.share-icons-contents {
    list-style: none;
    padding: 10px;
}

.share-icons-contents > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.share-icons-contents .fa.fa-facebook-official {
    padding-left: 2px;
    color: #3b5998;
}

.share-icons-contents .fa.fa-twitter {
    padding-left: 2px;
    color: #00aced;
}

.share-icons-contents .fa.fa-linkedin {
    padding-left: 2px;
    color: #0077B5;
}

.share-icons-contents .fa.fa-instagram{
    padding-left: 2px;
    color: #bc2a8d;
}

.social-icon-txt {
    padding-left: 3px;
    text-decoration: none;
}

.share-icons-contents > li:hover,
.share-icons-contents > li:focus {
    background: #ddd;
}

/* Options Menu */

.options-wrapper {
    float: right;
    width: 60px;
}

.options-action {
    margin-top: 14px;
    margin-bottom: 10px;
    display: inline-block;
    border: none;
    background: transparent;
    outline: none;
    color: #444bd6;
}

.options-action:hover,
.options-action:focus {
    opacity: 0.8;
}

.options-action:after {
    content: 'Settings';
    display: block;
    font-size: 12px;
    color: #444bd6;
}

.options-contents {
    width: 120px;
    background: #fff;
    -webkit-perspective: 2000px; /* Safari 4-8  */
    perspective: 2000px;
    transform: rotate3d(1,1,0,15deg);
    transform-origin: 0 100%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    transform-origin: top right;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    outline: none;

    position: relative;
    left: -25%;
}

.options-contents {
    list-style: none;
    padding: 10px;
}

.options-contents > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.options-txt {
    padding-left: 3px;
    text-decoration: none;
}

.options-contents > li:hover,
.options-contents > li:focus {
    background: #ddd;
}

.options-contents > li > i {
    color: #444BD6;
    padding-left: 4px;
}

/* Logout Menu */

.logout-wrapper {
    float: right;
    width: 60px;
}

.logout-btn {
    background: transparent;
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 14px;
}

.logout-btn:after {
    content: 'Logout';
    display: block;
    font-size: 12px;
    color: #444BD6;
}

.logout-btn:hover,
.logout-btn:focus {
    opacity: 0.8;
}

.logout-btn .fa.fa-sign-out {
    color: #444BD6;
}


/* Login Btn */
.login-wrapper {
    float: right;
    width: 60px;
}

.login-btn {
    display: block;
    background: transparent;
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 14px;
    cursor: pointer;
}

.login-btn:after {
    content: 'Login';
    display: block;
    font-size: 12px;
    color: #444BD6;
}

.login-btn:hover,
.login-btn:focus {
    opacity: 0.8;
}

.login-btn .fa.fa-sign-out {
    color: #444BD6;
}

/* Dashboard Menu */

.dashboard-wrapper {
    float: right;
    margin-top: 16px;
    width: 70px;
}

.dashboard-btn {
    background: transparent;
    border: none;
    text-align: center;
    width: 100%;
}

.dashboard-btn:hover,
.dashboard-btn:focus {
    opacity: 0.8;
}

.dashboard-btn:after {
    content: 'Dashboard';
    display: block;
    font-size: 12px;
    color: #444BD6;
}

.dashboard-btn .fa.fa-home {
    color: #444BD6;
}


@media screen and (min-width: 425px) {

    .navbar-on-toggle {
        margin-left: 250px !important;
    }

    .back-to-edit-mobile-wrapper {
        display: none;
    }
}

@media screen and (max-width: 425px) {

    .navbar-on-toggle {
        margin-left: 170px !important;
    }

    .acadnion-logo-wrapper {
        padding-top: 12px;
        width: 30%;
    }

    .acadnion-logo {
        width: 100%;
    }

    .dashboard-wrapper {
        display: none;
    }

    .logout-wrapper, .options-wrapper, .share-icons-wrapper {
        font-size: 20px;
    }

    .acadnion-navbar {
        /* overflow: hidden; */
    }

    .share-icons-contents,
    .options-contents {
        width: 400px;
        top: -6px;
        font-size: 16px;
    }

    .share-icons-contents > li,
    .options-contents > li {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .options-wrapper {
        display: none;
    }

    .back-to-edit-mobile-wrapper {
        display: inline-block;
        margin-top: 16px;
        width: 60px;
        text-align: center;
        float: right;
    }

    .back-to-edit-mobile-btn {
        display: block;
        background: transparent;
        border: none;
        margin-left: auto;
        margin-right: auto;
    }

    .back-to-edit-mobile-btn:after {
        content: 'Edit';
        display: block;
        font-size: 12px;
        color: #444BD6;
    }

    .back-to-edit-mobile-btn > i {
        color: #444BD6;
        font-size: 24px;
    }
}



.displayNone {
    display: none;
}

.social-icon-txt-btn {
    background: transparent;
    border: none;
    outline: none;
}