<header>
  <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
     <a class="navbar-brand" href="https://acadnion.com/#">
      <div id="brand-logo">
       <img id="mobile-icon-logo" class="hidden-sm hidden-md hidden-lg" src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/logo-sm-nav.png" alt="">
       <img id="full-logo" class="hidden-xs" src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/logo.png" alt="">
      </div> </a>
    </div>
    <div class="collapse navbar-collapse" id="collapsing-navbar">
     <div class="cd-morph-dropdown hidden-xs">
      <div class="main-nav nav navbar-nav navbar-right">
       <ul>
        <li class="has-dropdown callback-dropdown" data-content="callback-dropdown-content"> <a href="https://acadnion.com/#0">Request Callback</a> </li>
        <li class="has-dropdown gift-dropdown" data-content="gift-dropdown-content"> <a href="https://acadnion.com/#0">Gift</a> </li>
        <li class="has-dropdown kids-dropdown" data-content="kids-dropdown-content"> <a href="https://acadnion.com/#0">Acadnion Kids</a> </li>
        <li class="has-dropdown courses-dropdown" data-content="courses-dropdown-content"> <a href="https://acadnion.com/#0">Courses</a> </li>
        <li class="has-dropdown workshops-dropdown" data-content="workshops-dropdown-content"> <a href="https://acadnion.com/#0">Workshops</a> </li>
        <li class="has-dropdown bootcamps-dropdown" data-content="bootcamps-dropdown-content"> <a href="https://acadnion.com/#0">Bootcamps</a> </li>
        <li class="has-no-dropdown"> <a data-toggle="modal" href="https://acadnion.com/#new-login-signup-modal">Login</a> </li>
       </ul>
      </div>
      <div class="morph-dropdown-wrapper">
       <div class="dropdown-list" style="transform: translateX(584px); width: 340px; height: 159px;">
        <ul>
         <li id="callback-dropdown-content" class="dropdown callback-dropdown">
          <div class="content">
           <div class="callback-form">
            <form method="POST" id="callback-form">
             <div class="form-group">
              <input type="text" class="form-control material-form" pattern="[A-Za-z ]+" id="callback-name" placeholder="Name" required="" maxlength="25">
             </div>
             <div class="form-group">
              <input type="number" class="form-control material-form" pattern="[0-9]{10}" id="callback-phone" placeholder="Number" required="">
              <button type="submit" class="btn new-acd-btn" id="callback-otp-btn">SEND OTP</button>
              <small class="otptext"></small>
             </div>
             <div class="form-group">
              <input type="text" class="form-control material-form" pattern="[0-9]{6}" id="callback-otp" placeholder="OTP" required="">
              <small class="otpreply"></small>
             </div>
             <div class="checkbox" id="callback-checkbox-wrap">
              <label> <input type="checkbox" required=""> <p>I accept the <a class="terms-of-service" target="_blank" href="https://www.acadnion.com/termsofuse">Terms of Service</a> and <a class="privacy-policy" href="https://www.acadnion.com/privacypolicy" target="_blank">Privacy Policy</a></p> </label>
             </div>
             <button type="submit" class="btn new-acd-btn" id="callback-submit-btn">SUBMIT</button>
            </form>
            <div id="success-reply">
             <h3>Thank you for contacting us.<br> We'll call you back within 24hrs.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
            </div>
            <div id="fail-reply">
             <h3>Thank you for contacting us.<br> You seem to have exceeded otp limit.<br> Please mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
            </div>
           </div>
          </div> </li>
         <li id="gift-dropdown-content" class="dropdown gift-dropdown">
          <div class="content">
           <ul>
            <li><img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_acadgift_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/gift">Gifts on acadnion</a></li>
            <li><img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_kidsgift_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/gift">Gifts on acadnion kids</a></li>
           </ul>
          </div> </li>
         <li id="kids-dropdown-content" class="dropdown kids-dropdown">
          <div class="content">
           <ul>
            <li><a>Courses, Workshops, Bootcamps and Learning Kits for kids. Class 1st to 8th.</a></li>
            <hr>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_courses_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/courses">Courses</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_workshops_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/workshops">Workshops</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_bootcamps_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/bootcamps">Bootcamps</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_learning_kit_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/learningkit">Learning Kits</a> </li>
           </ul>
          </div> </li>
         <li id="courses-dropdown-content" class="dropdown courses-dropdown">
          <div class="content">
           <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/courses/introduction-to-web-development">Introduction to Web Development</a></li>
           </ul>
          </div> </li>
         <li id="workshops-dropdown-content" class="dropdown workshops-dropdown">
          <div class="content">
           <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/workshops/introduction-to-graphic-design">Introduction to Graphic Design</a></li>
           </ul>
          </div> </li>
         <li id="bootcamps-dropdown-content" class="dropdown bootcamps-dropdown">
          <div class="content">
           <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/bootcamps/application-development-bootcamp">Application Development Bootcamp</a></li>
           </ul>
          </div> </li>
        </ul>
        <div class="bg-layer" aria-hidden="true" style="transform: scaleX(340) scaleY(159);"></div>
       </div>
      </div>
     </div>
     <div class="nav navbar-nav hidden-sm hidden-md hidden-lg">
      <div class="nav-nest" id="nest-main" style="">
       <div class="nav-nest-trigger" target-nest="#nest-one">
        Request Callback
       </div>
       <div class="nav-nest-trigger" target-nest="#nest-two">
        Acadnion Kids
       </div>
       <div class="nav-nest-trigger" target-nest="#nest-three">
        Courses
       </div>
       <div class="nav-nest-trigger" target-nest="#nest-four">
        Workshops
       </div>
       <div class="nav-nest-trigger" target-nest="#nest-five">
        Bootcamps
       </div>
       <a href="https://acadnion.com/gift">
        <div class="nav-nest-no-trigger">
         Gift
        </div></a>
       <div class="nav-nest-no-trigger" data-toggle="modal" data-target="#new-login-signup-modal">
        Login
       </div>
      </div>
      <div class="nav-nest" id="nest-one" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="callback-form-mobile">
        <form method="POST" id="callback-form-mobile">
         <div class="form-group">
          <input type="text" class="form-control material-form" id="callback-name-mobile" pattern="[A-Za-z ]+" placeholder="Name" required="" maxlength="25">
         </div>
         <div class="form-group">
          <input type="text" class="form-control material-form" id="callback-phone-mobile" pattern="[0-9]{10}" placeholder="Number" required="">
          <button type="submit" class="btn new-acd-btn" id="callback-otp-btn-mobile">SEND OTP</button>
          <small class="otptextmobile"></small>
         </div>
         <div class="form-group">
          <input type="number" class="form-control material-form" id="callback-otp-mobile" pattern="[0-9]{6}" placeholder="OTP" required="">
          <small class="otpreplymobile"></small>
         </div>
         <div class="checkbox" id="callback-checkbox-wrap">
          <label> <input type="checkbox" required=""> <p>I accept the <a href="https://www.acadnion.com/termsofuse" class="terms-of-service" target="_blank">Terms of Service</a> and <a href="https://www.acadnion.com/privacypolicy" class="privacy-policy" target="_blank">Privacy Policy</a></p> </label>
         </div>
         <button type="submit" class="btn new-acd-btn" id="callback-submit-btn-mobile">SUBMIT</button>
        </form>
        <div id="success-reply-mobile">
         <h3>Thank you for contacting us.<br> We'll call you back within 24hrs.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
        </div>
        <div id="fail-reply-mobile">
         <h3>Thank you for contacting us.<br> You seem to have exceeded otp limit.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
        </div>
       </div>
      </div>
      <div class="nav-nest" id="nest-two" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="kids-list">
        <div class="nav-nest-trigger" target-nest="#nest-two-one">
         Courses
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-two-two">
         Workshops
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-two-three">
         Bootcamps
        </div>
        <a href="https://acadnion.com/kids/learningkit">
         <div class="nav-nest-no-trigger">
          Learning Kit
         </div></a>
        <a href="https://acadnion.com/kids/gift">
         <div class="nav-nest-no-trigger">
          Gift
         </div></a>
       </div>
      </div>
      <div class="nav-nest" id="nest-two-one" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/courses/introduction-to-design">Introduction to Design</a>
       </div>
      </div>
      <div class="nav-nest" id="nest-two-two" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/workshops/introduction-to-computer-science">Introduction to Computer Science</a>
       </div>
      </div>
      <div class="nav-nest" id="nest-two-three" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/bootcamps/introduction-to-graphic-design">Introduction to Graphic Design</a>
       </div>
      </div>
      <div class="nav-nest" id="nest-three" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/courses/introduction-to-web-development">Introduction to Web Development</a>
       </div>
      </div>
      <div class="nav-nest" id="nest-four" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/workshops/introduction-to-graphic-design">Introduction to Graphic Design</a>
       </div>
      </div>
      <div class="nav-nest" id="nest-five" style="display: none;">
       <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
       <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/bootcamps/application-development-bootcamp">Application Development Bootcamp</a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </nav>
 </header>