.profile-cover-wrapper {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
}

.profile-cover-wrapper:after {
    content: '';
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.profile-cover {
    width: 100%;
}

.profile-manager-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 66px);
    z-index: 1;
    top: 66px;
    /* margin-top: 66px; */
    position: relative;

}

.profile-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.8); */
    /* -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3); */
    /* padding: 4%; */
    font-size: 13px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 67%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
    color: #fff;
}

.profile-card-wrapper:hover,
.profile-card-wrapper:focus {

}

.profile-details-wrapper {
    /* -webkit-box-flex: 7;-ms-flex: 7;flex: 7; */
    /* margin-left: 4%; */
    width: 100%;
}

.aligned-wrapper {
    margin-top: 10px;
}

.left-aligned-wrapper {
    width: 50%;
    float: left;
    text-align: center;
}

.right-aligned-wrapper {
    width: 50%;
    float: left;
    text-align: center;
}

.profile-name {
	color: #fff;
    font-size: 2.5em;
    font-family: 'proxima_novasemibold';
    margin-top: 0;
}

.about-me-title {
    display: block;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
    font-family: 'proxima_novasemibold';
}

.profile-description {
    margin-bottom: 5px;
    text-align: center;
}

.profile-img-wrapper {
    border-radius: 150%;
    display: block;
    /* position: absolute; */
    /* left: 0;
    right: 0; */
    text-align: center;
    /* top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%); */
    /* top: 12vh; */
    margin: 0 auto;
    z-index: 11111;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
    /* -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; */
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
}

.profile-img-wrapper:hover,
.profile-img-wrapper:focus {
    box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 20px 5px rgba(0,0,0,0.3);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}


.profile-img {
	width: 100%;
    height: 100%;
}

.profile-name-wrapper {
    /* position: absolute; */
    /* top: 55%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%); */
    /* top: 44vh;
    left: 0;
    right: 0; */
    margin-top: 10px;
    text-align: center;
}

.points {
    font-size: 44px;
    color: #fff;
    margin: 0;
    display: none;
}

.company {
	font-size: 1.1em;
	color: #fff;
}

.institution {
	font-size: 1.1em;
	color: #fff;
}

/* Email */

.getEmailForm {
    display: inline-block;
}

.email {
	font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    background: transparent;
    border: none;
    padding: 0;
}
/* 
.email > i {
    color: #fff;
} */

.email:hover,
.email:focus {
    color: #ddd;
}

/* Phone */
.phone {
	font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}
/* 
.phone > i {
    color: #fff;
} */

.phone:hover,
.phone:focus {
    color: #ddd;
}

.message {
	font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    /* margin-right: 15px; */
}
/* 
.message > i {
    color: #fff;
} */

.message:hover,
.message:focus {
    color: #ddd;
}

.location {
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    margin-right: 15px;
}

.location > i {
    color: #444BD6;
}

.contact-wrapper {
    text-align: center;
    font-size: 2em;
}

.claps-wrapper {
    margin: 0;
    /* position: absolute;
    top: 22%;
    -webkit-transform: translateY(-22%);
    -ms-transform: translateY(-22%);
    transform: translateY(-22%);
    left: 32%; */
    display: inline-block;
}

.claps-btn {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 4px;
    padding: 8px 50px;
    background: #444BD6;
}

.claps-btn:hover,
.claps-btn:focus {
    opacity: 0.8;
}

/* .claps-btn:active {
    -webkit-box-shadow: inset 1px 1px 20px 1px rgba(255,255,255,1);
    -moz-box-shadow: inset 1px 1px 20px 1px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 20px 1px rgba(255,255,255,1);
} */


.claps-img {
    width: 20px;
    height: 20px;
}

.claps-count {
    color: #fff;
}

.views-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    /* border: 2px solid #fff; */
    /* border-radius: 4px; */
    /* padding: 8px 50px; */
    padding-right: 10px;
    padding: 0 10px 0 0;
}

.views-img {
    width: 20px;
    height: 20px;
}

.views-count {
    color: #fff;
}


.claps-views-wrapper {
    text-align: center;
}
@media screen and (max-width: 425px) {
    .profile-card-wrapper {
        width: 100%;
        top: 40%;
        padding: 3%;
    }

    .profile-cover-wrapper {
        padding-left: 0;
    }

    .profile-manager-wrapper {
        font-size: 10px;
    }

    .profile-name {
        font-size: 1.5em;
    }

    .profile-img-wrapper {
        -webkit-box-flex: 4;
        -ms-flex: 4;
        flex: 4;
        margin: 0;
    }

    .contact-wrapper {
        display: none;
    }

    .contact-mobile-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #444BD6;
        z-index: 999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .profile-manager-cover {
        position: relative;
    }

    .getEmailForm {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        font-size: 22px;
    }

    .email > i {
        color: #fff;
    }

    .phone {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        font-size: 30px;
        margin-right: 0;
        border-left: 2px solid #fff;
    }

    .phone > i {
        color: #fff;
    }

    .message {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
        font-size: 26px;
        margin-right: 0;
        border-left: 2px solid #fff;
    }

    .message > i {
        color: #fff;
    }
}

.contact-icons {
    width: 32px;
    height: 32px;
}

.availability-wrapper {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
}

.resume-wrapper {
    text-align: center;
}

.resume-dwnld-btn {
    background: transparent;
    display: block;
    outline: none;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 1em;
    padding: 6px 45px;
    position: relative;
    margin: 5px auto;
    letter-spacing: 0.8px;
}

.resume-dwnld-btn:hover,
.resume-dwnld-btn:focus {
    background: #444bd6;
}

.resume-dwnld-img {
    width: 20px;
    position: relative;
    top: -2px;
}

.resume-dwnld-btn-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
}