<div class="row profile-manager-cover">
	<div class="contact-mobile-wrapper" *ngIf="isContactMobileWrapperShown">

		<form class="getEmailForm" #getEmailForm (ngSubmit)="getEmailActionForm(getEmailForm)">
			<button type="button" class="email" href="javascript:void(0);" (click)="openEmailModal()">
				<i class="fa fa-envelope" aria-hidden="true"></i> <span class="displayNone">Mail</span>
			</button>
		</form>

		<a class="phone" href="javascript:void(0);">
			<i class="fa fa-mobile" aria-hidden="true"></i> <span class="displayNone">Phone</span>
		</a>
		<a class="message" href="javascript:void(0);">
			<i class="fa fa-comment" aria-hidden="true"></i> <span class="displayNone">Message</span>
		</a>

	</div>

	<div class="col-md-12">
		<div class="profile-cover-wrapper">

			<div class="profile-manager-wrapper">

				<div class="profile-card-wrapper">

					<!-- <div class="profile-card-cover"> -->
					<div class="profile-img-wrapper">
						<img class="img-responsive profile-img" [src]="portfolioProfile['profileimg']" [alt]="portfolioProfile['name']" />
					</div>

					<div class="profile-details-wrapper">
						<div class="profile-name-wrapper">
							<h1 class="profile-name" [innerHTML]="portfolioProfile['name']"></h1>
						</div>

						<div class="roles-wrapper">
							<p class="roles" [innerHTML]="portfolioProfile['roles']"></p>
						</div>

						<div class="contact-wrapper">
							<form class="getEmailForm" #getEmailForm (ngSubmit)="getEmailActionForm(getEmailForm)">
								<button type="button" class="email" href="javascript:void(0);" (click)="openContactModal(1)">
									<img src="/acdn-portfolio/assets/icons/mail.svg" class="contact-icons" /> <span class="displayNone">Mail</span>
								</button>
							</form>

							<a class="phone" href="javascript:void(0);" (click)="openContactModal(2)">
								<img src="/acdn-portfolio/assets/icons/phone.svg" class="contact-icons" /> <span class="displayNone">Phone</span>
							</a>

							<a class="message" href="javascript:void(0);" (click)="openContactModal(3)">
								<img src="/acdn-portfolio/assets/icons/chat.svg" class="contact-icons" /> <span class="displayNone">Message</span>
							</a>
						</div>

						<div class="resume-wrapper">
							<button class="resume-dwnld-btn" (click)="openContactModal(4)">
								<div class="resume-dwnld-btn-wrapper">
									<img src="/acdn-portfolio/assets/icons/download.svg" alt="Resume Download" class="resume-dwnld-img" /> 
									<span>Resume</span>
								</div>
							</button>
						</div>

						<div class="location">
							Location : {{ portfolioProfile['location'] != '' ? portfolioProfile['location'] : 'Mumbai' }}
						</div>

						<div class="availability-wrapper">
							<p [innerHTML]="portfolioProfile['availability']"></p>
						</div>

						<!-- <p class="points">1991</p> -->
						<div class="aligned-wrapper">
							<div class="left-aligned-wrapper">
								<p class="company">Company : {{ portfolioProfile['company'] }}</p>
								<p class="institution">Institution : {{ portfolioProfile['institution'] }}</p>
							</div>

							<div class="right-aligned-wrapper">
								<p>{{ 'Two Years of Experience as Web Developer.' }}</p>
								<p>{{ 'Swimming, Jogging, Gaming' }}</p>
							</div>
						</div>

						<div class="clearfix"></div>
						
						<span class="about-me-title">About Me</span>
						<p class="profile-description">
							{{ (portfolioProfile['description'] != '' || portfolioProfile['description'] != undefined) ? portfolioProfile['description'] : 'None' }}
						</p>

						<div class="claps-views-wrapper">

							<div class="views-wrapper">
								<img src="/acdn-portfolio/assets/icons/views_white.svg" alt="Views" class="views-img" />
								<span class="views-count">{{portfolioProfile['views']}}</span>
							</div>

							<div class="claps-wrapper">
								<button type="button" class="claps-btn" (click)="clap(portfolioProfile['username'], clapImg, clapCount)">
									<img [src]="((portfolioProfile['clapped']) ? '/acdn-portfolio/assets/icons/clap_royalblue.svg': '/acdn-portfolio/assets/icons/clap_white.svg')" alt="Claps" class="claps-img" #clapImg />
									<span class="claps-count" #clapCount>{{(portfolioProfile['claps'] != undefined && portfolioProfile['claps'] != '') ? portfolioProfile['claps'] : 0 }}</span>
								</button>
							</div>
						</div>

					</div>

					<!-- </div> -->
				</div>
				
			</div>
		</div>

	</div>
</div>

<ng-container #_contactPopupContainer></ng-container>