<div  bsModal
      #webCamModal="bs-modal"
      [config]="{animated: false, ignoreBackdropClick: true}"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
  <div class="modal-dialog acdn-webcam-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Capture Image</h4>
        <button type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="hideWebcamModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-acdn-web-cam (getImage)="getImage($event)"></app-acdn-web-cam>
      </div>
    </div>
  </div>
</div>