<div class="modal-header">
  <h4 class="modal-title text-center">Error</h4>
  <button type="button" class="close close-btn" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <p>{{ message }}</p>
</div>