<ack-webcam
    [(ref)]   = "webcam"
    [options] = "options"
    (success) = "onCamSuccess($event)"
    (catch)   = "onCamError($event)"
></ack-webcam>
<div class="text-center">
    <button
        type="button"
        class="btn acdn-btn"
        (click)="getImage()">Capture
    </button>
</div>