.action-btn-wrapper:hover{
    height: 175px;
}

.height125px:hover {
    height: 125px !important;
}

.top40per {
    top: 40% !important;
}

.top65per {
    top: 65% !important;
}

.action-btn-wrapper:hover .grid-resize-btn {
    top: 30%;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.action-btn-wrapper:hover .grid-edit-btn {
    top: 50%;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.action-btn-wrapper:hover .grid-del-btn {
    top: 70%;
    opacity: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}


.grid-wrapper {
    padding: 0.4em;
    cursor:move;
}

.grid-wrapper:hover .action-btn-wrapper,
.grid-wrapper:focus .action-btn-wrapper {
    opacity: 1;
}

.grid-wrapper:hover .type-caption,
.grid-wrapper:focus .type-caption {
    opacity: 1;
}

.grid-wrapper:hover .description-wrapper,
.grid-wrapper:focus .description-wrapper {
    bottom: 0.4em;
}

.grid-wrapper:hover .show-information-icon,
.grid-wrapper:focus .show-information-icon {
    opacity: 1;
}

.grid-resize-btn {
    color: blue;
}

.grid-resize-btn:hover {
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
}

.grid-edit-btn {
    color: teal;
}

.grid-edit-btn:hover {
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -o-transform:scale(1.4);
    -ms-transform:scale(1.4);
}

.grid-del-btn {
    color: red;
}

.grid-del-btn:hover {
    transform:scale(1.4);
    -webkit-transform:scale(1.4);
    -moz-transform:scale(1.4);
    -o-transform:scale(1.4);
    -ms-transform:scale(1.4);
}

.edit-txt-btn {
    position: absolute;
    top: 10px;
    left: 0;
}

.grid-image {
    width: 100%;
    height: 100%;
}

.grid-resize-btn,
.grid-edit-btn,
.grid-del-btn {
    font-size: 16px;
    opacity: 0;
    display: block;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 8px;
    background: transparent;
    border: none;
    opacity: 0;
}

.type-caption {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #444BD6;
    font-style: italic;
    font-weight: bold;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    width: 50px;
    opacity: 0;
    z-index: 1;
}


.type-caption > i {
    padding: 14px;
    box-shadow: 0 0 10px #444bd6;
    -webkit-box-shadow: 0 0 10px #444bd6;
    -moz-box-shadow: 0 0 10px #444bd6;
    border-radius: 150%;
}
.type-caption > span {
    padding-left: 10px;
}

.type-caption > i.fa-file-image-o {
    padding: 16px 18px;
}

.type-image-caption:hover,
.type-image-caption:focus {
    width: 150px !important;
}

.type-video-caption > i {
    padding: 16px 18px;
}

.type-video-caption:hover,
.type-video-caption:focus {
    width: 150px !important;
}

.type-doc-caption:hover,
.type-doc-caption:focus {
    width: 170px !important;
}

.type-links-caption:hover,
.type-links-caption:focus {
    width: 175px !important;
}

.modal-dialog {
    width: 90% !important;
}

.action-btn-wrapper {
    border-radius: 50px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    width: 50px;
    position: relative;
    margin-left: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #fff;
    opacity: 0;
    z-index: 11;
    /* height: 165px; */
}


.settings-icon {
    color: #444bd6;
}

.settings-icon-wrapper {
    box-shadow: 0 0 10px #444bd6;
    -webkit-box-shadow: 0 0 10px #444bd6;
    -moz-box-shadow: 0 0 10px #444bd6;
    padding: 14px;
    border-radius: 150%;
    position: absolute;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.description-wrapper {
    position: absolute;
    bottom: -60px;
    color: #fff;
    left: 6px;
    right: 6px;
    padding-top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.description-txt {
    text-align: center;
}

.url-type-links-caption {
    width: 45px;
}

.url-type-links-caption > .fa.fa-link {
    width: 45px;
}

.show-information-icon {
    position: absolute;
    top: 80px;
    left: 20px;
    padding: 13px 22px;
    color: #444BD6;
    font-style: italic;
    font-weight: bold;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -o-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    width: 50px;
    opacity: 0;
    cursor: pointer;
}

.type-gif-caption > span {
    padding-top: 5px;
    padding-left: 0;
}

.type-gif-caption {
    padding: 13px;
}

@media screen and (max-width: 425px) {
  .grid-actions-wrapper {
    display: none;
  }

  .description-wrapper {
    display: none;
  }

}