<div  class="animated bounceIn grid-wrapper"
      (touchend)="gridClickForMobile($event)"
      #eachGridWrapper>

  <div class="grid-actions-wrapper">

    <p *ngIf="type == 1" class="type-caption type-image-caption">
        <i class="fa fa-file-image-o"></i>
        <span>Image</span>
    </p>
    <p *ngIf="type == 2" class="type-caption type-links-caption url-type-links-caption">
        <i class="fa fa-link"></i>
        <span>URL Link</span>
    </p>
    <p *ngIf="type == 3" class="type-caption type-video-caption">
        <i class="fa fa-file-video-o"></i>
        <span>Video</span>
    </p>

    <p *ngIf="type == 4" class="type-caption type-doc-caption">
        <i class="fa fa-file-text"></i>
        <span>Document</span>
    </p>

    <p *ngIf="type == 5" class="type-caption type-gif-caption">
        <span>GIF</span>
    </p>

    <!-- Show Content Details -->
    <!-- <p  class="show-information-icon"
        (click)="showContentDetailsCard($event)"
        (mouseover)="isContentDetailsAvailable()"
        (mouseout)="isContentDetailsAvailable()">
        <i class="fa fa-info" aria-hidden="true"></i>
    </p> -->

    <div class="action-btn-wrapper" [ngClass]="{'height125px' : (type == 2 || type == 5)}">
        <span class="settings-icon-wrapper">
            <i class="fa fa-wrench settings-icon" aria-hidden="true"></i>
        </span>
        <button *ngIf="type != 2 && type != 5"
                type="button"
                class="action-btn-tooltip grid-resize-btn"
                title="Reposition Thumbnail Image"
                (click)="openRepositionModal()">
            <svg fill="#444bd6" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 18v-2H8V4h2L7 1 4 4h2v2H2v2h4v8c0 1.1.9 2 2 2h8v2h-2l3 3 3-3h-2v-2h4zM10 8h6v6h2V8c0-1.1-.9-2-2-2h-6v2z"/>
            </svg>
        </button>

        <button type="button"
                class="action-btn-tooltip grid-edit-btn"
                [ngClass]="{'top40per' : (type == 2 || type == 5)}"
                title="Edit Content Details"
                (click)="openThumbnailEditContentModal()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>

        <button type="button"
                class="action-btn-tooltip grid-del-btn"
                [ngClass]="{'top65per' : (type == 2 || type == 5)}"
                title="Delete Content"
                (click)="openDeleteModal(indexNumber)">
            <i  class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
    </div>

    <div class="description-wrapper">
        <p class="description-txt">{{ name }}</p>
    </div>
  </div>

<!-- [attr.data-gifffer]="asset" -->
  <img  *ngIf="type != 5"
        [src]="asset"
        class="grid-image"
        #eachImg />

  <img  *ngIf="type == 5"
        [attr.data-gifffer]="asset"
        class="grid-image"
        #eachImg />

</div>