<div  class="view-content-wrapper"
      [class.navbar-on-toggle]="navToggleVal"
      (window:resize)="onWindowResize($event)"
      style="height:100%;width:100%;">
  <div class="row">
    <div class="col-md-12">

      <app-header [navToggleVal]="navToggleVal"
                  (navToggle)="navToggle()"
                  [isPreview]="false"
                  (optionsMenu)="optionsMenu()"
                  [isShownForDesktop]="isShownForDesktop"
                  [portfolioProfile]="portfolioProfile">
      </app-header>

      <app-view-sidebar [navToggleVal]="navToggleVal"
                        (navToggle)="navToggle()"
                        [isShownForDesktop]="isShownForDesktop">
      </app-view-sidebar>
      <profile-manager  [isContactMobileWrapperShown]="isContactMobileWrapperShown"
                        (updatePortfolioProfile)="updatePortfolioProfile($event)">
      </profile-manager>

      <div class="view-grid-wrapper">

        <gridster [options]="gridsterOptions">
          <gridster-item  *ngFor="let widget of widgets;let i = index"
                          [(x)]="widget.x"
                          [(y)]="widget.y"
                          [(w)]="widget.w"
                          [(h)]="widget.h"
                          [(options)]="mobileOptions"
                          #eachGridEl>

            <view-grid  [show]="widget.show"
                        [thumbnailImage]="widget.thumbnailImage"
                        [repositionImage]="widget.repositionImage"
                        [asset]="widget.asset"
                        [name]="widget.name"
                        [indexNumber]="i"
                        [width]="widget.w"
                        [height]="widget.h"
                        [type]="widget.type"
                        [typography]="widget.typography"
                        [softwares]="widget.softwares"
                        [technologies]="widget.technologies"
                        [colorSchemes]="widget.color_schemes"
                        [inspiration]="widget.inspiration"
                        [eachGridEl]="eachGridEl"
                        (showContentDetailsCard)="showContentDetailsCard($event)"
                        (showActualAsset)="showActualAsset($event)"
                        (hideActualAsset)="hideActualAsset($event)"
                        (showContentDetailsForMobile)="showContentDetailsForMobile($event)">
            </view-grid>

          </gridster-item>

          <ng-container #contentDetailsCardContainer></ng-container>

        </gridster>

      </div>

      <div class="grid-loader" #gridLoader></div>

    </div>
  </div>
</div>

<ng-template #contentDetailsCard>

  <div  class="content-details-card"
        tabindex="1"
        (blur)="hideContentDetailsCard()">

    <div class="content-details-txt-wrapper">

      <p  class="show-information-icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </p>

      <h1 class="content-details-heading">Content Details</h1>

      <button type="button"
              class="content-details-card-close-btn"
              (click)="hideContentDetailsCard()">&times;
      </button>

      <div class="row">
        <div class="col-md-6">
            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].typography != undefined && this.widgets[this.currentContentIndex].typography != ''">
              <span class="advance-details-lbl">Typography</span>
              <span class="advance-details-val">{{ this.widgets[currentContentIndex].typography | formatWithComma }}</span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].softwares != undefined && this.widgets[this.currentContentIndex].softwares != ''">
              <span class="advance-details-lbl">Softwares</span>
              <span class="advance-details-val">{{ this.widgets[currentContentIndex].softwares | formatWithComma }}</span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].technologies != undefined && this.widgets[this.currentContentIndex].technologies != ''">
              <span class="advance-details-lbl">Technologies</span>
              <span class="advance-details-val">{{ this.widgets[currentContentIndex].technologies | formatWithComma }}</span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].color_schemes != undefined && this.widgets[this.currentContentIndex].color_schemes != ''">
              <span class="advance-details-lbl">Color Schemes</span>
              <div class="color-wrapper">
                  <span class="color-cover"
                        *ngFor="let c of this.widgets[currentContentIndex].color_schemes.split('|')"
                        [ngStyle]="{'border-top': '1px solid '+c, 'border-bottom': '1px solid '+c, 'border-right': '1px solid '+c}">
                    <span class="color-thumb" [ngStyle]="{'background': c }"></span>
                    <span class="color-txt">{{ c }}</span>
                  </span>
                </div>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].inspiration != undefined && this.widgets[this.currentContentIndex].inspiration != ''">
              <span class="advance-details-lbl">Inspiration</span>
              <span class="advance-details-inspiration" [innerHTML]="this.widgets[this.currentContentIndex].inspiration"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].device != undefined && this.widgets[this.currentContentIndex].device != '' && this.widgets[this.currentContentIndex].device != '<p></p>'">
              <span class="advance-details-lbl">Device</span>
              <span class="advance-details-device" [innerHTML]="this.widgets[this.currentContentIndex].device"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].megapixel != undefined && this.widgets[this.currentContentIndex].megapixel != '' && this.widgets[this.currentContentIndex].megapixel != '<p></p>'">
              <span class="advance-details-lbl">Megapixel</span>
              <span class="advance-details-megapixel" [innerHTML]="this.widgets[this.currentContentIndex].megapixel"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].aperture != undefined && this.widgets[this.currentContentIndex].aperture != '' && this.widgets[this.currentContentIndex].aperture != '<p></p>'">
              <span class="advance-details-lbl">Aperture</span>
              <span class="advance-details-aperture" [innerHTML]="this.widgets[this.currentContentIndex].aperture"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].sensor != undefined && this.widgets[this.currentContentIndex].sensor != '' && this.widgets[this.currentContentIndex].sensor != '<p></p>'">
              <span class="advance-details-lbl">Sensor</span>
              <span class="advance-details-sensor" [innerHTML]="this.widgets[this.currentContentIndex].sensor"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].resolution != undefined && this.widgets[this.currentContentIndex].resolution != '' && this.widgets[this.currentContentIndex].resolution != '<p></p>'">
              <span class="advance-details-lbl">Resolution</span>
              <span class="advance-details-resolution" [innerHTML]="this.widgets[this.currentContentIndex].resolution"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].iso != undefined && this.widgets[this.currentContentIndex].iso != '' && this.widgets[this.currentContentIndex].iso != '<p></p>'">
              <span class="advance-details-lbl">Iso</span>
              <span class="advance-details-iso" [innerHTML]="this.widgets[this.currentContentIndex].iso"></span>
            </div>

            <div  class="content-details-wrapper"
                  *ngIf="this.widgets[this.currentContentIndex].shutterspeed != undefined && this.widgets[this.currentContentIndex].shutterspeed != '' && this.widgets[this.currentContentIndex].shutterspeed != '<p></p>'">
              <span class="advance-details-lbl">Shutterspeed</span>
              <span class="advance-details-shutterspeed" [innerHTML]="this.widgets[this.currentContentIndex].shutterspeed"></span>
            </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<!-- <div class="beta-tag-wrapper">
  <span class="beta-tag">BETA</span>
</div> -->


<!-- Actual Asset(Image Zoom) -->
<!-- <div  *ngIf="isActualAsset && (this.widgets[this.currentContentIndex].type == 1)"
      class="actual-asset-wrapper">
  <div class="actual-asset-cover">
    <img [src]="this.widgets[this.currentContentIndex].asset" [alt]="this.widgets[this.currentContentIndex].name" />


    <button type="button"
            class="actual-asset-close-btn"
            (click)="showHideActualAsset()">&times;
    </button>
  </div>
</div>

<div  class="actual-asset-backdrop"
      *ngIf="isActualAsset && (this.widgets[this.currentContentIndex].type == 1)">
</div> -->

<div  bsModal
      #actualAssetModal="bs-modal"
      [config]="{animated: false}"
      class="modal fade animated custom-modal actualAssetModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true">

  <div class="modal-dialog custom-modal-dialog">

    <div class="modal-content">
      <img  *ngIf="isActualAsset"
            [src]="this.widgets[this.currentContentIndex].asset"
            [alt]="this.widgets[this.currentContentIndex].name"
            class="actual-asset-img"
            [ngStyle]="{'max-height': maxHeightOfScreen}" />
    </div>
  </div>
</div>
<!-- Actual Asset(Image Zoom) -->

<ng-container #_contentDetailsForMobileContainer></ng-container>
<ng-template #contentDetailsForMobileTmp>
  <div  bsModal
        #contentDetailsForMobile="bs-modal"
        [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated zoomIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body content-details-modal-body-mobile">
          <button type="button"
                  class="content-detials-close-btn-mobile"
                  (click)="hideContentDetailsForMobile()">&times;
          </button>

          <div  class="content-details-card-mobile"
                tabindex="1">

            <div class="content-details-txt-wrapper">

              <p  class="show-information-icon">
                <i class="fa fa-info" aria-hidden="true"></i>
              </p>

              <h1 class="content-details-heading-mobile"
                  *ngIf="!isContentDetails()">No Content Present</h1>

              <div *ngIf="isContentDetails()">
                <h1 class="content-details-heading-mobile">Content Details</h1>


                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].typography != undefined && widgets[currentContentIndex].typography != ''">
                  <span class="advance-details-lbl">Typography</span>
                  <span class="advance-details-val">{{ widgets[currentContentIndex].typography | formatWithComma }}</span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].softwares != undefined && widgets[currentContentIndex].softwares != ''">
                  <span class="advance-details-lbl">Softwares</span>
                  <span class="advance-details-val">{{ widgets[currentContentIndex].softwares | formatWithComma }}</span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].technologies != undefined && widgets[currentContentIndex].technologies != ''">
                  <span class="advance-details-lbl">Technologies</span>
                  <span class="advance-details-val">{{ widgets[currentContentIndex].technologies | formatWithComma }}</span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].color_schemes != undefined && widgets[currentContentIndex].color_schemes != ''">
                  <span class="advance-details-lbl">Color Schemes</span>
                  <div class="color-wrapper">
                      <span class="color-cover"
                            ngxClipboard
                            [cbContent]="c"
                            (cbOnSuccess)="copyToClipboard(c)"
                            *ngFor="let c of widgets[currentContentIndex].color_schemes.split('|')"
                            [ngStyle]="{'border-top': '1px solid '+c, 'border-bottom': '1px solid '+c, 'border-right': '1px solid '+c}">
                        <span class="color-thumb" [ngStyle]="{'background': c }"></span>
                        <span class="color-txt">{{ c }}</span>
                      </span>
                    </div>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].inspiration != undefined && widgets[currentContentIndex].inspiration != ''">
                  <span class="advance-details-lbl">Inspiration</span>
                  <span class="advance-details-inspiration" [innerHTML]="widgets[currentContentIndex].inspiration"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].device != undefined && widgets[currentContentIndex].device != '' && widgets[currentContentIndex].device != '<p></p>'">
                  <span class="advance-details-lbl">Device</span>
                  <span class="advance-details-device" [innerHTML]="widgets[currentContentIndex].device"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].megapixel != undefined && widgets[currentContentIndex].megapixel != '' && widgets[currentContentIndex].megapixel != '<p></p>'">
                  <span class="advance-details-lbl">Megapixel</span>
                  <span class="advance-details-megapixel" [innerHTML]="widgets[currentContentIndex].megapixel"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].aperture != undefined && widgets[currentContentIndex].aperture != '' && widgets[currentContentIndex].aperture != '<p></p>'">
                  <span class="advance-details-lbl">Aperture</span>
                  <span class="advance-details-aperture" [innerHTML]="widgets[currentContentIndex].aperture"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].sensor != undefined && widgets[currentContentIndex].sensor != '' && widgets[currentContentIndex].sensor != '<p></p>'">
                  <span class="advance-details-lbl">Sensor</span>
                  <span class="advance-details-sensor" [innerHTML]="widgets[currentContentIndex].sensor"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].resolution != undefined && widgets[currentContentIndex].resolution != '' && widgets[currentContentIndex].resolution != '<p></p>'">
                  <span class="advance-details-lbl">Resolution</span>
                  <span class="advance-details-resolution" [innerHTML]="widgets[currentContentIndex].resolution"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].iso != undefined && widgets[currentContentIndex].iso != '' && widgets[currentContentIndex].iso != '<p></p>'">
                  <span class="advance-details-lbl">Iso</span>
                  <span class="advance-details-iso" [innerHTML]="widgets[currentContentIndex].iso"></span>
                </div>

                <div  class="content-details-wrapper"
                      *ngIf="widgets[currentContentIndex].shutterspeed != undefined && widgets[currentContentIndex].shutterspeed != '' && widgets[currentContentIndex].shutterspeed != '<p></p>'">
                  <span class="advance-details-lbl">Shutterspeed</span>
                  <span class="advance-details-shutterspeed" [innerHTML]="widgets[currentContentIndex].shutterspeed"></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<p class="toast" #toast>Copied to Clipboard</p>

