.view-content-wrapper {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.view-grid-wrapper {
    padding-left: 70px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-details-wrapper {
    padding: 10px;
}

.content-details-card {
    position: absolute;
    background: #fff;
    z-index: 1;
    width: 0;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    outline: none;
    border-top-left-radius: 25px;
    overflow: hidden;
    opacity: 0;
}

.content-details-card-close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

.advance-details-lbl {
    display: block;
    font-weight: bold;
}

.advance-details-val {
    display: block;
    word-wrap: break-word;
}

.advance-details-inspiration {
    display: block;
    clear: left;
    word-wrap: break-word;
}

.content-details-heading {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'proxima_novasemibold';
    margin-top: 12px;
    margin-bottom: 20px;
}

/* Color Schemes Tags */

.color-wrapper {
    margin-top: 10px;
}

.color-cover {
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    border-left: none;
    margin-right: 10px;
}

.color-thumb {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 150%;
    vertical-align: middle;
}

.color-txt {
    padding: 2px 8px 2px 2px;
}

.beta-tag-wrapper {
    position: fixed;
    top: 15px;
    right: -31px;
    width: 120px;
    height: 86px;
    z-index: 999;
}

.beta-tag {
    background: #444BD6;
    display: block;
    transform: rotate(45deg);
    height: 20px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.show-information-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px 22px;
    color: #444BD6;
    font-style: italic;
    font-weight: bold;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -o-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    width: 50px;
    cursor: pointer;
    z-index: 1;
}

.actual-asset-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
    padding: 14px;
}

.custom-modal {
    overflow: hidden;
}

.custom-modal-dialog {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
}

.custom-modal-dialog > .modal-content {
    background: rgba(0,0,0,0.01);
    box-shadow: none;
    border: none;
}

.actual-asset-close-btn {
    font-size: 40px;
    position: relative;
    right: 10px;
    color: #fff;
    opacity: 1;
}

@media screen and (min-width: 425px) {
    .navbar-on-toggle {
        margin-left: 250px !important;
    }
}

@media screen and (max-width: 425px) {
    .navbar-on-toggle {
        margin-left: 170px !important;
    }

    .view-grid-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .content-details-heading-mobile {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'proxima_novasemibold';
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .content-details-card-mobile .show-information-icon {
        top: 10px;
        left: 2%;
    }
    .content-detials-close-btn-mobile {
        background: transparent;
        border: none;
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 50px;
    }

    .content-details-card-mobile {
        outline: none;
    }

}

.toast {
    padding: 8px 12px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1em;
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 9999;
    text-align: center;
}
