@media screen and (min-width: 425px) {
    .gridAndDragContainer {
        padding-left: 70px;
        padding-right: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mobile-action-wrapper {
        display: none;
    }

    .file-drop-mobile-wrapper {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .gridAndDragContainer {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mobile-action-wrapper {
        position: fixed;
        bottom: 0;
        background: #444BD6;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        left: 0;
        right: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 1;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }

    .resize-action {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
        border-right: 2px solid #fff;
    }

    .edit-action {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
    }

    .edit-action > i {
        padding: 3px;
        font-size: 18px;
    }

    .del-action {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .del-action > i {
        font-size: 18px;
        padding: 3px;
    }


    .lock-action {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        color: #fff;
    }

    .lock-action > i {
        font-size: 18px;
        padding: 3px;
    }

    .file-drop-mobile-wrapper {
        padding: 10px;
        width: 100%;
        text-align: center;
        font-size: 2em;
        height: 200px;
        border: 2px dashed #444BD6;
    }

    .file-drop-mobile-txt {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        color: #444BD6;
    }
}


.eachGrid {
    overflow: hidden;
}

.eachGrid .grid-caption-wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

/*
.eachGrid .grid-caption-wrapper {
    visibility: hidden;
    transition: visibility 2s;
} */

/* .eachGrid:hover .grid-caption-wrapper,
.eachGrid:focus .grid-caption-wrapper {
    visibility: visible;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0.5em;
    margin-top: 0.5em;
    height: 100%;
    background: rgba(0,0,0, 0.5);
} */

.grid-caption-txt-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.grid-caption-txt {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: red;
    width: 70%;
    margin: auto;
}

.gridster-item-inner {
    position: relative;
}

.reload-grid-btn {
    position: fixed;
    top: 50%;
    left: 0;
    font-size: 14px;
}

/* .play-icon-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
} */

.play-icon {
    position: absolute;
    top: 110px;
    left: 40%;
    right: 0;
    font-size: 200px;
    color: #fff;
    opacity: 0.5;
    cursor: move;
}

.doc-icon {
    position: absolute;
    top: 110px;
    left: 30%;
    right: 0;
    font-size: 200px;
    color: #fff;
    opacity: 0.5;
    cursor: move;
}

.grid-loader {
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #444BD6;
    width: 200px;
    height: 200px;
    -webkit-animation: gridLoader 2s linear infinite;
    animation: gridLoader 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes gridLoader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes gridLoader {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes gridLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes gridLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.width90 {
    width: 90%;
}



.grid-box {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(68,75,214,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(68,75,214,1);
    box-shadow: 0px 0px 2px 1px rgba(68,75,214,1);
    float: left;
}

.btn-acn-del {
    background: #ed3c23;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2em;
    padding: 8px 20px;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
}

.btn-acn-del:hover,
.btn-acn-del:focus {
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.dragAndDropWrapper {
    display: block;
    margin-bottom: 50px;
}

.modal-footer-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.acdn-del-modal-dialog {
    max-width: 400px;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.modal-del-footer-wrapper {
    margin-bottom: 0;
}

.del-modal-txt {
    padding: 8px;
    text-align: center;
    margin-bottom: 12px;
}

.close-lg {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: 30px;
}

.content-details-wrapper {
    padding: 10px;
}

.content-details-card {
    position: fixed;
    background: #fff;
    z-index: 1;
    width: 400px;
    border: 2px solid #444BD6;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
}

.content-details-card-close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
}

.advance-details-lbl {
    display: block;
    font-weight: bold;
}

.advance-details-val {
    display: block;
}

.advance-details-inspiration {
    display: block;
    clear: left;
}

.content-details-heading {
    padding-left: 10px;
    padding-right: 10px;
}


/* Color Schemes Tags */

.color-wrapper {
    margin-top: 10px;
}

.color-cover {
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
    border-left: none;
    margin-right: 10px;
}

.color-thumb {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 150%;
    vertical-align: middle;
}

.color-txt {
    padding: 2px 8px 2px 2px;
}

.extra-info {
    display: block;
    text-align: center;
    color: #000;
    opacity: 0.8;
}

.file-drop-mobile {
    display: none;
}