<div class="row portfolio-manager-wrapper">
  <div class="col-md-12">
    <div class="gridAndDragContainer">
      <file-drop  class="dragAndDropWrapper displayNoneForMobile"
                  (onFileDrop)="dropped($event)"
                  (onFileOver)="fileOver($event)"
                  (onFileLeave)="fileLeave($event)">
        <img  src="/acdn-portfolio/assets/icons/gif_upload.gif"
              class="gif-upload-img"
              alt="Drag and Drop Files" />
      </file-drop>

      <div  class="file-drop-mobile-wrapper"
            onclick="document.querySelector('#myFileInput').click()">
        <span class="file-drop-mobile-txt">Click to upload file</span>
        <input  type="file"
                id="myFileInput"
                style="display:none;"
                (change)="generalMobileFileUpload($event.target.files[0])" />
      </div>

      <gridster [options]="gridsterOptions">

        <gridster-item  *ngFor="let widget of widgets;let i = index"
                        [(x)]="widget.x"
                        [(y)]="widget.y"
                        [(w)]="widget.w"
                        [(h)]="widget.h"
                        (xChange)="changedX($event)"
                        (yChange)="changedY($event)"
                        (wChange)="changedW($event)"
                        (hChange)="changedH($event)"
                        (change)="itemChanged($event, eachGridEl, i)"
                        [id]="widget.id"
                        class="eachGrid"
                        #eachGridEl>

          <!-- <span class="play-icon-wrapper" > -->
              <!-- <i *ngIf="widget.type==3" class="fa fa-play-circle-o play-icon" aria-hidden="true"></i>
              <i *ngIf="widget.type==4" class="fa fa-file-o doc-icon" aria-hidden="true"></i> -->
          <!-- </span> -->

          <app-grid [asset]="widget.asset"
                    [name]="widget.name"
                    [indexNumber]="i"
                    [id]="widget.id"
                    [width]="widget.w"
                    [height]="widget.h"
                    [type]="widget.type"
                    [typography]="widget.typography"
                    [softwares]="widget.softwares"
                    [technologies]="widget.technologies"
                    [colorSchemes]="widget.color_schemes"
                    [inspiration]="widget.inspiration"
                    (openImageRepositionModal)="openImageRepositionModal($event)"
                    (openEditContentModal)="openEditContentModal($event)"
                    (openConfirmDeleteModal)="openConfirmDeleteModal($event)"
                    (showContentDetailsCard)="showContentDetailsCard($event)"
                    (gridClickForMobile)="gridClickForMobile($event)">
          </app-grid>
        </gridster-item>
      </gridster>

      <ng-progress [direction]="'rightToLeftReduced'"></ng-progress>

      <div class="grid-loader" #gridLoader></div>
    </div>

  </div>
</div>

<div style="height: 150px; background: #eee;"></div>

<!-- Image Upload Modal -->
<div  bsModal
      #imageModal="bs-modal"
      [config]="{animated: false, ignoreBackdropClick: true}"
      class="modal animated bounceIn"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
  <form #imageUploadForm="ngForm"
        (ngSubmit)="addImageSubmit(imageUploadForm)">

    <div class="modal-dialog acdn-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Enter Details</h4>
          <button type="button"
                  class="close pull-right "
                  aria-label="Close"
                  (click)="hideImageModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <tabset class="info-modal-tabs" #imageUploadContentTabs>
              <tab heading="Basic" class="text-center">
                <div class="row">
                  <div class="col-md-12">
                    <input  type="text"
                            class="form-control material-form"
                            name="name"
                            ngModel
                            placeholder="Description"
                            minlength="1"
                            maxlength="255"
                            required />
                  </div>
                </div>
              </tab>
              <tab heading="Advance">
                <span class="extra-info">The fields given below are optional.</span>
                <div class="advance-content-wrapper">
                  <div class="row">
                    <div class="advance-form-group">
                      <div class="col-md-12">
                        <label class="acdn-select-lbl">Typography</label>
                        <select2  [data]="typographyData"
                                  [options]="options"
                                  ngDefaultControl
                                  class="acdnModalSelect2"
                                  name="typography"
                                  [(ngModel)]="portfolioGrid.typography"
                                  (valueChanged)="select2changed($event, imageUploadForm, 'typography')">
                        </select2>
                      </div>
                    </div>
                    <div class="advance-form-group">
                      <div class="col-md-12">
                        <label class="acdn-select-lbl">Softwares</label>
                        <select2  [data]="softwaresData"
                                  [options]="options"
                                  ngDefaultControl
                                  class="acdnModalSelect2"
                                  name="softwares"
                                  [(ngModel)]="portfolioGrid.softwares"
                                  (valueChanged)="select2changed($event, imageUploadForm, 'softwares')">
                        </select2>
                      </div>
                    </div>

                    <div class="advance-form-group">
                      <div class="col-md-12">
                        <label class="acdn-select-lbl">Technologies</label>
                        <select2  [data]="technologiesData"
                                  [options]="options"
                                  ngDefaultControl
                                  class="acdnModalSelect2"
                                  name="technologies"
                                  [(ngModel)]="portfolioGrid.technologies"
                                  (valueChanged)="select2changed($event, imageUploadForm, 'technologies')">
                        </select2>
                      </div>
                    </div>

                    <div class="advance-form-group">
                      <div class="col-md-12">
                        <label class="acdn-select-lbl">Color Schemes</label>
                        <select2  [data]="colorSchemesData"
                                  [options]="colorSchemeOptions"
                                  ngDefaultControl
                                  class="acdnModalSelect2"
                                  name="color_schemes"
                                  [(ngModel)]="portfolioGrid.color_schemes"
                                  (valueChanged)="select2changed($event, imageUploadForm, 'color_schemes')">
                        </select2>
                      </div>
                    </div>

                    <div class="advance-form-group">
                      <div class="col-md-12">
                        <label class="acdn-lbl">Inspiration</label>
                        <input type="hidden" name="inspiration" ngModel />
                        <rich-text-editor (valueChanged)="richTxtEditorChanged($event, imageUploadForm, 'inspiration')"></rich-text-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="Camera Specification">
                <span class="extra-info">The fields given below are optional.</span>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="device"
                          ngModel
                          placeholder="Device"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="megapixel"
                          ngModel
                          placeholder="Megapixel"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="aperture"
                          ngModel
                          placeholder="Aperture"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="sensor"
                          ngModel
                          placeholder="Sensor"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="resolution"
                          ngModel
                          placeholder="Resolution"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="iso"
                          ngModel
                          placeholder="ISO"
                          minlength="1"
                          maxlength="255" />
                </div>
                <div class="acdn-form-group">
                  <input  type="text"
                          class="form-control material-form"
                          name="shutterspeed"
                          ngModel
                          placeholder="Shutter Speed"
                          minlength="1"
                          maxlength="255" />
                </div>
              </tab>
            </tabset>

        </div>
        <div class="modal-footer-wrapper">
          <button type="submit"
                  class="btn acdn-btn"
                  [disabled]="imageUploadForm.invalid">Upload
          </button>
        </div>

      </div>
    </div>
  </form>
</div>

<!-- Video Upload Modal -->
<div bsModal #uploadVideoThumbnailModal="bs-modal" [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <form #uploadVideoThumbnailModalForm="ngForm"
        (ngSubmit)="contentUpload()"
        enctype="multipart/form-data">
    <div class="modal-dialog acdn-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Enter Details</h4>
          <button type="button" class="close pull-right " aria-label="Close" (click)="hideUploadVideoThumbnailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <tabset class="info-modal-tabs" #contentUploadTabs>
            <tab heading="Basic" class="text-center">
              <div class="row acdn-form-group">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Description : </label>
                </div>
                <div class="col-md-8">
                  <input  type="text"
                          class="form-control"
                          name="name"
                          ngModel
                          minlength="1"
                          maxlength="255"
                          required />
                </div>
              </div>

              <div class="row acdn-form-group">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Video Preview Thumbnail : </label>
                </div>
                <div class="col-md-8">
                  <input  type="file"
                          class="form-control"
                          name="thumbnail"
                          ngModel
                          accept="image/x-png,image/gif,image/jpeg"
                          (change)="thumbnailUploadUpdate($event.target.files[0])" />
                </div>
              </div>
            </tab>
            <tab heading="Advance">
              <div class="advance-content-wrapper">
                <div class="row">
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Typography</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="typography"
                                ngModel
                                (valueChanged)="select2changed($event, uploadVideoThumbnailModalForm, 'typography')">
                      </select2>
                    </div>
                  </div>
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Softwares</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="softwares"
                                ngModel
                                (valueChanged)="select2changed($event, uploadVideoThumbnailModalForm, 'softwares')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Technologies</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="technologies"
                                ngModel
                                (valueChanged)="select2changed($event, uploadVideoThumbnailModalForm, 'technologies')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Color Schemes</label>
                      <select2  [options]="colorSchemeOptions"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="color_schemes"
                                ngModel
                                (valueChanged)="select2changed($event, uploadVideoThumbnailModalForm, 'color_schemes')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-lbl">Inspiration</label>
                      <rich-text-editor (valueChanged)="richTxtEditorChanged($event, uploadVideoThumbnailModalForm.value, 'inspiration')"></rich-text-editor>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Camera Specification">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="device"
                        ngModel
                        placeholder="Device"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="megapixel"
                        ngModel
                        placeholder="Megapixel"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="aperture"
                        ngModel
                        placeholder="Aperture"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="sensor"
                        ngModel
                        placeholder="Sensor"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="resolution"
                        ngModel
                        placeholder="Resolution"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="iso"
                        ngModel
                        placeholder="ISO"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="shutterspeed"
                        ngModel
                        placeholder="Shutter Speed"
                        minlength="1"
                        maxlength="255" />
              </div>
            </tab>
          </tabset>

        </div>
        <div class="modal-footer-wrapper">
          <button type="submit" class="btn acdn-btn" [disabled]="uploadVideoThumbnailModalForm.invalid">Upload</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- DOc/PDF Upload Modal -->
<div bsModal #uploadDocThumbnailModal="bs-modal" [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <form #uploadDocThumbnailModalForm="ngForm"
        (ngSubmit)="contentUpload()"
        enctype="multipart/form-data">
    <div class="modal-dialog acdn-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Enter Details</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideUploadDocThumbnailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <tabset class="info-modal-tabs" #contentUploadTabs>
            <tab heading="Basic" class="text-center">
              <div class="row acdn-form-group">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Description : </label>
                </div>
                <div class="col-md-8">

                  <input  type="text"
                          class="form-control"
                          name="name"
                          ngModel
                          minlength="1"
                          maxlength="255"
                          required />
                </div>
              </div>

              <div class="row acdn-form-group">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Document Preview Thumbnail : </label>
                </div>
                <div class="col-md-8">
                  <input  type="file"
                          class="form-control"
                          name="thumbnail"
                          ngModel
                          accept="image/x-png,image/gif,image/jpeg"
                          (change)="thumbnailUploadUpdate($event.target.files[0])" />
                </div>
              </div>
            </tab>
            <tab heading="Advance">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="advance-content-wrapper">
                <div class="row">
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Typography</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="typography"
                                ngModel
                                (valueChanged)="select2changed($event, uploadDocThumbnailModalForm, 'typography')">
                      </select2>
                    </div>
                  </div>
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Softwares</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="softwares"
                                ngModel
                                (valueChanged)="select2changed($event, uploadDocThumbnailModalForm, 'softwares')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Technologies</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="technologies"
                                ngModel
                                (valueChanged)="select2changed($event, uploadDocThumbnailModalForm, 'technologies')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Color Schemes</label>
                      <select2  [options]="colorSchemeOptions"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="color_schemes"
                                ngModel
                                (valueChanged)="select2changed($event, uploadDocThumbnailModalForm, 'technologies')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-lbl">Inspiration</label>
                      <input type="hidden" name="inspiration" ngModel />
                      <rich-text-editor (valueChanged)="richTxtEditorChanged($event, uploadDocThumbnailModalForm.value, 'inspiration')"></rich-text-editor>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Camera Specification">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="device"
                        ngModel
                        placeholder="Device"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="megapixel"
                        ngModel
                        placeholder="Megapixel"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="aperture"
                        ngModel
                        placeholder="Aperture"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="sensor"
                        ngModel
                        placeholder="Sensor"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="resolution"
                        ngModel
                        placeholder="Resolution"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="iso"
                        ngModel
                        placeholder="ISO"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="shutterspeed"
                        ngModel
                        placeholder="Shutter Speed"
                        minlength="1"
                        maxlength="255" />
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer-wrapper">
          <button type="submit"
                  class="btn acdn-btn"
                  [disabled]="uploadDocThumbnailModalForm.invalid">Upload
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Thumbnail Reposition for Image/Video/Doc/WebCamImage -->
<div bsModal #updateRepositionImageModal="bs-modal" [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <form   #updateRepositionImageForm="ngForm"
          (ngSubmit)="updateRepositionImageSubmit(updateRepositionImageForm)"
          enctype="multipart/form-data">
    <div class="modal-dialog width90">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" align="center">Edit Preview Image</h4>
            <button type="button" class="close pull-right close-lg" aria-label="Close" (click)="hideImageRepositionModal()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

          <img  id="my-image"
                  src=""
                  #repositionImage />

        </div>
        <div class="modal-footer-wrapper">
          <button type="submit"
                  class="btn acdn-btn">
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Edit Content for Image/Video/Doc/WebCamImage -->
<div bsModal #editContentModal="bs-modal" [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <form #editContentModalForm="ngForm"
        (ngSubmit)="editContentModalFormSubmit(editContentModalForm)"
        enctype="multipart/form-data">
    <div class="modal-dialog acdn-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Edit Details</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideEditContentModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <tabset class="info-modal-tabs" #editContentTabs>
            <tab heading="Basic"
                class="text-center">
              <div class="row acdn-form-group">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Description : </label>
                </div>
                <div class="col-md-8">
                  <input  type="text"
                          class="form-control"
                          name="name"
                          [(ngModel)]="portfolioGrid.name"
                          required />
                </div>
              </div>

              <div  class="row acdn-form-group"
                    *ngIf="( ! tmpData.hasOwnProperty('index')) ? false : (this.widgets[tmpData['index']].type!=1 && this.widgets[tmpData['index']].type!=5) ? true: false">
                <div class="col-md-4 text-right">
                  <label class="acdn-lbl">Preview Thumbnail : </label>
                </div>
                <div class="col-md-8">
                    <input  type="file"
                            class="form-control"
                            name="thumbnail"
                            ngModel
                            (change)="thumbnailUploadUpdate($event.target.files[0])" />
                </div>
              </div>
            </tab>
            <tab heading="Advance">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="advance-content-wrapper">
                <div class="row">
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Typography</label>
                      <select2  [data]="typographyData"
                                [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="typography"
                                ngModel
                                [value]="portfolioGrid.typography"
                                (valueChanged)="select2changed($event, editContentModalForm, 'typography')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Softwares</label>
                      <select2  [data]="softwaresData"
                                [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="softwares"
                                ngModel
                                [value]="portfolioGrid.softwares"
                                (valueChanged)="select2changed($event, editContentModalForm, 'softwares')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group" tabindex="0">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Technologies</label>
                      <select2  [data]="technologiesData"
                                [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="technologies"
                                ngModel
                                [value]="portfolioGrid.technologies"
                                (valueChanged)="select2changed($event, editContentModalForm, 'technologies')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Color Schemes</label>
                      <select2  [data]="colorSchemesData"
                                [options]="colorSchemeOptions"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="color_schemes"
                                ngModel
                                [value]="portfolioGrid.color_schemes"
                                (valueChanged)="select2changed($event, editContentModalForm, 'color_schemes')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-lbl">Inspiration</label>
                      <input  type="hidden"
                              ngDefaultControl
                              name="inspiration"
                              ngModel />
                      <rich-text-editor [value]="portfolioGrid.inspiration"
                                        (valueChanged)="richTxtEditorChanged($event, editContentModalForm.value, 'inspiration')">
                      </rich-text-editor>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Camera Specification">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="device"
                        [(ngModel)]="portfolioGrid.device"
                        placeholder="Device"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="megapixel"
                        [(ngModel)]="portfolioGrid.megapixel"
                        placeholder="Megapixel"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="aperture"
                        [(ngModel)]="portfolioGrid.aperture"
                        placeholder="Aperture"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="sensor"
                        [(ngModel)]="portfolioGrid.sensor"
                        placeholder="Sensor"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="resolution"
                        [(ngModel)]="portfolioGrid.resolution"
                        placeholder="Resolution"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="iso"
                        [(ngModel)]="portfolioGrid.iso"
                        placeholder="ISO"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="shutterspeed"
                        [(ngModel)]="portfolioGrid.shutterspeed"
                        placeholder="Shutter Speed"
                        minlength="1"
                        maxlength="255" />
              </div>
            </tab>
          </tabset>

        </div>
        <div class="modal-footer-wrapper">
          <button type="submit"
                  class="btn acdn-btn"
                  [disabled]="editContentModalForm.invalid">Update
          </button>
        </div>

      </div>
    </div>
  </form>
</div>

<!-- Delete Confirmation Modal -->
<div bsModal #confirmDeleteModal="bs-modal" [config]="{animated: false, ignoreBackdropClick: true}" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <form #confirmDeleteModalForm="ngForm"
        (ngSubmit)="removeGrid(confirmDeleteModalIndex)"
        enctype="multipart/form-data">
    <div class="modal-dialog acdn-del-modal-dialog">
      <div class="modal-content">

        <div class="modal-body">

          <h4 class="modal-title del-modal-txt" style="padding: 8px;">Are you sure, you want to Delete?</h4>
          <button type="button" class="close pull-right close-lg" aria-label="Close" (click)="hideConfirmDeleteModal()">
            <span aria-hidden="true">&times;</span>
          </button>

          <input  type="hidden"
                  #confirmDeleteModalIndex
                  required />

          <div class="modal-footer-wrapper modal-del-footer-wrapper">
              <button type="submit" class="btn btn-acn-del">Delete</button>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>

<!-- Image Upload Modal -->
<div  bsModal
      #videoUrlContentModal="bs-modal"
      [config]="{animated: false, ignoreBackdropClick: true}"
      class="modal animated bounceIn"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true">
  <form #videoUrlForm="ngForm" (ngSubmit)="videoUrlSubmit(videoUrlForm)">
  <!-- <form [formGroup]="reactiveForm"> -->
  <div class="modal-dialog acdn-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Enter Details</h4>
        <button type="button"
                class="close pull-right "
                aria-label="Close"
                (click)="hideVideoUrlModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <tabset class="info-modal-tabs" #videoUrlUploadContentTabs>
            <tab heading="Basic" class="text-center">
              <div class="row">
                <div class="col-md-12">
                  <input  type="text"
                          class="form-control material-form"
                          name="name"
                          ngModel
                          placeholder="Description"
                          minlength="1"
                          maxlength="255"
                          required />
                </div>
              </div>
            </tab>
            <tab heading="Advance">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="advance-content-wrapper">
                <div class="row">
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Typography</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="typography"
                                ngModel
                                (valueChanged)="select2changed($event, videoUrlForm, 'typography')">
                      </select2>
                    </div>
                  </div>
                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Softwares</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="softwares"
                                ngModel
                                (valueChanged)="select2changed($event, videoUrlForm, 'softwares')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Technologies</label>
                      <select2  [options]="options"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="technologies"
                                ngModel
                                (valueChanged)="select2changed($event, videoUrlForm, 'technologies')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-select-lbl">Color Schemes</label>
                      <select2  [options]="colorSchemeOptions"
                                ngDefaultControl
                                class="acdnModalSelect2"
                                name="color_schemes"
                                ngModel
                                (valueChanged)="select2changed($event, videoUrlForm, 'color_schemes')">
                      </select2>
                    </div>
                  </div>

                  <div class="advance-form-group">
                    <div class="col-md-12">
                      <label class="acdn-lbl">Inspiration</label>
                      <input type="hidden" name="inspiration" ngModel />
                      <rich-text-editor (valueChanged)="richTxtEditorChanged($event, videoUrlForm, 'inspiration')"></rich-text-editor>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Camera Specification">
              <span class="extra-info">The fields given below are optional.</span>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="device"
                        ngModel
                        placeholder="Device"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="megapixel"
                        ngModel
                        placeholder="Megapixel"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="aperture"
                        ngModel
                        placeholder="Aperture"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="sensor"
                        ngModel
                        placeholder="Sensor"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="resolution"
                        ngModel
                        placeholder="Resolution"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="iso"
                        ngModel
                        placeholder="ISO"
                        minlength="1"
                        maxlength="255" />
              </div>
              <div class="acdn-form-group">
                <input  type="text"
                        class="form-control material-form"
                        name="shutterspeed"
                        ngModel
                        placeholder="Shutter Speed"
                        minlength="1"
                        maxlength="255" />
              </div>
            </tab>
          </tabset>

      </div>
      <div class="modal-footer-wrapper">
        <button type="submit"
                class="btn acdn-btn"
                [disabled]="videoUrlForm.invalid">Upload
        </button>
      </div>

    </div>
  </div>
  </form>
</div>

<ng-container #contentDetailsCardContainer></ng-container>

<ng-template #contentDetailsCard>

  <div  class="content-details-card"
        tabindex="1"
        (blur)="hideContentDetailsCard()">

    <div class="content-details-txt-wrapper">

      <h1 class="content-details-heading">Content Details</h1>

      <button type="button"
              class="content-details-card-close-btn"
              (click)="hideContentDetailsCard()">&times;
      </button>

      <div  class="content-details-wrapper"
            *ngIf="this.widgets[this.currentContentIndex].typography != undefined && this.widgets[this.currentContentIndex].typography != ''">
        <span class="advance-details-lbl">Typography</span>
        <span class="advance-details-val">{{ this.widgets[currentContentIndex].typography | formatWithComma }}</span>
      </div>

      <div  class="content-details-wrapper"
            *ngIf="this.widgets[this.currentContentIndex].softwares != undefined && this.widgets[this.currentContentIndex].softwares != ''">
        <span class="advance-details-lbl">Softwares</span>
        <span class="advance-details-val">{{ this.widgets[currentContentIndex].softwares | formatWithComma }}</span>
      </div>

      <div  class="content-details-wrapper"
            *ngIf="this.widgets[this.currentContentIndex].technologies != undefined && this.widgets[this.currentContentIndex].technologies != ''">
        <span class="advance-details-lbl">Technologies</span>
        <span class="advance-details-val">{{ this.widgets[currentContentIndex].technologies | formatWithComma }}</span>
      </div>

      <div  class="content-details-wrapper"
            *ngIf="this.widgets[this.currentContentIndex].color_schemes != undefined && this.widgets[this.currentContentIndex].color_schemes != ''">
        <span class="advance-details-lbl">Color Schemes</span>
        <div class="color-wrapper">
          <span class="color-cover"
                *ngFor="let c of this.widgets[currentContentIndex].color_schemes.split('|')"
                [ngStyle]="{'border-top': '1px solid '+c, 'border-bottom': '1px solid '+c, 'border-right': '1px solid '+c}">
            <span class="color-thumb" [ngStyle]="{'background': c }"></span>
            <span class="color-txt">{{ c }}</span>
          </span>
        </div>
      </div>

      <div  class="content-details-wrapper"
            *ngIf="this.widgets[this.currentContentIndex].inspiration != undefined && this.widgets[this.currentContentIndex].inspiration != '' && this.widgets[this.currentContentIndex].inspiration != '<p></p>'">
        <span class="advance-details-lbl">Inspiration</span>
        <span class="advance-details-inspiration" [innerHTML]="this.widgets[this.currentContentIndex].inspiration"></span>
      </div>
    </div>
  </div>

</ng-template>

<div class="mobile-action-wrapper" #mobileActionWrapper>
  <div  class="resize-action displayNone"
        *ngIf="currentSelectedActionForMobile != undefined && isRepositionShown(currentSelectedActionForMobile['type'])"
        (click)="openImageRepositionModal(currentSelectedActionForMobile)"
        #resizeAction>
    <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M22 18v-2H8V4h2L7 1 4 4h2v2H2v2h4v8c0 1.1.9 2 2 2h8v2h-2l3 3 3-3h-2v-2h4zM10 8h6v6h2V8c0-1.1-.9-2-2-2h-6v2z"/>
    </svg>
    <span class="action-txt">Resize</span>
  </div>
  <div class="edit-action displayNone"
      (click)="openEditContentModal(currentSelectedActionForMobile)"
      #editAction>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <span class="action-txt">Edit</span>
  </div>
  <div  class="del-action displayNone"
        (click)="openConfirmDeleteModal(currentSelectedActionForMobile)"
        #delAction>
    <i  class="fa fa-trash-o" aria-hidden="true"></i>
    <span class="action-txt">Delete</span>
  </div>

  <div class="lock-action" (click)="lockUnlockGrid()">
      <i  class="fa"
          [class.fa-unlock]="!isGridLocked"
          [class.fa-lock]="isGridLocked"
          aria-hidden="true"></i>
      <span class="action-txt" *ngIf="!isGridLocked">Unlock</span>
      <span class="action-txt" *ngIf="isGridLocked">Lock</span>
  </div>
</div>