@font-face {
	font-family: 'proxima_novaregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'),url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),url('../fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_novalight';
    src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
	font-family: 'proxima_novabold';
	src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/ProximaNova-Semibold.otf');
}

body {
	font-family: 'proxima_novaregular';
}