<router-outlet></router-outlet>
<div class="footer-wrapper">
<footer class="blur-me">
        <div class="container">
        <div class="footer-section" id="refund-policy-section">
        <a class="close-section" target-section="#refund-policy-section"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        <h3>Refund Policy</h3>
        <p>All paid plans/subscriptions/packs and any paid offerings on acadnion.com and its subdomains are non-refundable unless specified by acadnion.</p>
        </div>
        <div class="footer-section" id="shipping-return-section">
        <a class="close-section" target-section="#shipping-return-section"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        <h3>Shipping &amp; Returns</h3>
        <p>All products on acadnion.com that are paid offerings and/or physical products such as Learning Kits will be shipped in 2-3 working days unless specified otherwise by acadnion on the website or by email to the user. Working days are Mon-Fri 10am-6pm.</p>
        </div>
        <div class="row" id="footer-main">
        <div class="col-md-6">
        <div class="left-items">
        <ul>
        <li><a href="https://acadnion.com/about" target="_blank">ABOUT</a></li>
        <li><a href="https://acadnion.com/blog" target="_blank">BLOG</a></li>
        <li><a href="https://acadnion.com/courses" target="_blank">COURSES</a></li>
        <li><a href="https://acadnion.com/workshops" target="_blank">WORKSHOPS</a></li>
        <li><a href="https://acadnion.com/bootcamps" target="_blank">BOOTCAMPS</a></li>
        <li><a href="https://acadnion.com/gift" target="_blank">GIFT</a></li>
        <li><a target-section="#refund-policy-section" class="footer-section-trigger">REFUND POLICY</a></li>
        <li><a target-section="#shipping-return-section" class="footer-section-trigger">SHIPPING &amp; RETURNS</a></li>
        <li style="display: inline-block;"><a href="https://acadnion.com/jobs">JOBS</a></li><span class="footer-hiring">We're Hiring!</span>
        <li class="title-bold">FOLLOW US</li>
        <li>
        <div class="social-icons-footer">
        <a href="https://facebook.com/acadnion" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/acadnion" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/official_acadnion" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        </li>
        </ul>
        </div>
        </div>
        <div class="col-md-6">
        <div class="right-items">
        <h4>CONTACT US</h4>
        <p class="contact-email" href="mailto:support@acadnion.com">support@acadnion.com</p>
        <p>+917745090000</p>
        <h4 class="footer-or" style="padding-bottom: 5px;"><strong>OR</strong></h4>
        <h4>ANY QUERIES? PLEASE WRITE TO US</h4>
        <form action="https://acadnion.com/" method="POST" id="contact-form">
        <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" required="" id="contactname">
        </div>
        <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required="" id="contactemail">
        </div>
        <div class="form-group">
        <textarea class="form-control" placeholder="Message" required="" id="contactmessage"></textarea>
        </div>
        <div class="form-group">
        <input class="form-control" id="contactsubmit" type="submit">
        </div>
        </form>
        <div class="confirmation-msg" style="display: none;">
        <h4>Thank you for contacting us. We will get back to you soon.</h4>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="container-fluid">
        <div class="row">
        <div class="footer-copyright">
        <div class="col-md-6">
        <div class="bottom-footer-left">
        <ul>
        <li><a href="https://acadnion.com/termsofuse" target="_blank">TERMS</a></li>
        <li><a href="https://acadnion.com/privacypolicy" target="_blank">PRIVACY POLICY</a></li>
        </ul>
        </div>
        </div>
        <div class="col-md-6">
        <div class="bottom-footer-right"><span>© 2017 InstaDev Pvt Ltd. All rights reserved</span></div>
        </div>
        </div>
        </div>
        </div>
        </footer>

</div>