/*@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/ProximaNova-Light.otf');
}
@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/ProximaNova-Bold.otf');
}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/ProximaNova-Semibold.otf');
}
a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    color: inherit;
    outline: none!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'proxima_novaregular';
    overflow-x: hidden;
    padding-top: 65px;
}*/
body.nav-full-active .blur-me {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    transition: all 0.2s ease-in;
}
body.modal-open .blur-me {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    transition: all 0.2s ease-in;
}
.col-no-padding {
    padding: 0;
}
.full-section {
    min-height: calc(100vh - 66px);
}
.vertical-center-me-parent {
    position: relative;
}
.vertical-center-me {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.carousel-heading {
    text-align: center;
    margin: 35px 0;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
}
.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 31px;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
}
@media screen and (max-width: 768px) {
    .vertical-center-me {
        position: static;
        top: 0;
        transform: none;
    }
}
input.form-control.material-form {
    -moz-user-select: text!important;
    -webkit-user-select: text!important;
    -ms-user-select: text!important;
    user-select: text!important;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #444bd6;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #444bd6 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #444bd6 4%);
    background-position: -790px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #000;
    border-radius: 0px;
    box-shadow: none;
    height: 42px;
}
input.form-control.material-form:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-radius: 0px;
}
input.form-control.material-form::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input.form-control.material-form:focus::-webkit-input-placeholder {
    color: #444bd6;
    font-size: 11px;
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
    visibility: visible!important;
}
.navbar {
    background: #ffffff;
    margin-bottom: 0;
    border-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .2);
    min-height: 50px;
    position: fixed;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .2s ease-in-out;
}
#brand-logo {
    width: 50px;
    position: relative;
    bottom: 5px;
    left: 15px;
    display: block;
}
#icon-logo {
    display: none;
    position: relative;
    left: -3px;
    top: -4px;
}
#full-logo {
    display: block;
    position: relative;
    left: -3px;
    top: -4px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    position: relative;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 0;
    height: 65px;
    padding: 25px 17px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.mobile-nav-section {
    display: none;
    background: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.navbar-collapse.in {
    overflow-y: auto;
    background-color: #fff;
}
.nav-trigger {
    display: block;
    text-align: center;
}
.nav-trigger.mobile-back-trigger {
    font-size: 18px;
}
#mobile-nav-accordion .panel-heading.collapsed::before {
    font-family: 'FontAwesome';
    content: '\f078';
    float: right;
    transform: scale(1);
    transition: all .5s;
}
#mobile-nav-accordion .panel-heading::before {
    font-family: 'FontAwesome';
    content: '\f078';
    float: right;
    transform: scale(1);
    transform: rotate(90deg);
    transition: all .5s;
}
.callback-form {
    padding: 10px 20px;
}
.callback-form #callback-phone {
    float: left;
    width: 60%;
}
.callback-form #callback-otp {
    float: left;
    width: 100%;
}
.callback-form #callback-phone {
    height: 35px;
}
.callback-form #callback-otp-btn {
    float: right;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17, 22, 26, 0.15);
    transition: all .2s ease-in-out;
}
.callback-form #callback-otp-btn:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
.callback-form #callback-submit-btn {
    padding: 7px 30px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17, 22, 26, 0.15);
    transition: all .2s ease-in-out;
}
.callback-form #callback-submit-btn:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
.callback-form #callback-checkbox-wrap {
    clear: both;
    padding-top: 10px;
}
.callback-form button,
.callback-form button:hover,
.callback-form button:link,
.callback-form button:active,
.callback-form button:visited {
    background-color: #444bd6;
    color: #fff;
    border: 0;
    padding: 11px 15px;
}
a.terms-of-service:hover,
a.terms-of-service:link,
a.terms-of-service:visited,
a.terms-of-service:active,
a.privacy-policy:hover,
a.privacy-policy:link,
a.privacy-policy:visited,
a.privacy-policy:active {
    text-decoration: underline;
    color: #337ab7;
    outline: none;
}
.callback-form-mobile {
    padding: 10px 20px;
}
.callback-form-mobile #callback-phone-mobile {
    height: 35px;
}
.callback-form-mobile #callback-phone-mobile {
    float: left;
    width: 60%;
}
.callback-form-mobile #callback-otp-mobile {
    float: left;
    width: 100%;
}
.callback-form-mobile #callback-otp-btn-mobile {
    float: right;
}
.callback-form-mobile #callback-otp-btn-mobile {
    float: right;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17, 22, 26, 0.15);
    transition: all .2s ease-in-out;
}
.callback-form-mobile #callback-otp-btn-mobile:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
.callback-form-mobile #callback-submit-btn-mobile {
    padding: 7px 30px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17, 22, 26, 0.15);
    transition: all .2s ease-in-out;
}
.callback-form-mobile #callback-submit-btn-mobile:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
.callback-form-mobile #callback-checkbox-wrap {
    clear: both;
    padding-top: 10px;
}
.callback-form-mobile button,
.callback-form-mobile button:hover,
.callback-form-mobile button:link,
.callback-form-mobile button:active,
.callback-form-mobile button:visited {
    background-color: #444bd6;
    color: #fff;
    border: 0;
    padding: 7px 15px;
}
.nest-main {}.nav-nest {}.nav-nest-trigger,
.nav-nest-no-trigger {
    color: #777;
    position: relative;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    border: 0;
    height: 65px;
    padding: 25px 17px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.nav-nest-trigger::after,
.nav-nest-no-trigger::after {
    font-family: 'FontAwesome';
    content: '\f054';
    float: right;
    transform: scale(1);
    transition: all .5s;
}
.nav-nest-back {
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 10px 0;
}
@media screen and (min-width: 768px) {
    .nav.navbar-nav li.nav-hover-only:hover>ul.dropdown-menu {
        display: block;
        top: 66px;
        border: 0;
        box-shadow: 2px 2px 2px 0px rgba(46, 61, 73, .15);
        width: 350px;
    }
    .dropdown-menu>li>a {
        white-space: normal;
    }
    .nav.navbar-nav>li {
        text-align: center;
        transition: all .2s ease;
    }
    .magic-border-left {
        position: absolute;
        background-color: blue;
        height: 3px;
        bottom: 0px;
        width: 0;
        transform: rotate(180deg);
        transform-origin: left;
        transition: all .5s ease;
    }
    .magic-border-right {
        position: absolute;
        background-color: blue;
        height: 3px;
        bottom: 0px;
        width: 0;
        left: 50%;
        transition: all .5s ease;
    }
    .nav.navbar-nav>li:hover .magic-border-left,
    .nav.navbar-nav>li:hover .magic-border-right {
        width: 50%;
    }
    .nav.navbar-nav>li .fa.fa-caret-down {
        transition: all .3s ease;
    }
    .nav.navbar-nav>li:hover .fa.fa-caret-down {
        transform: rotate(180deg);
    }
    #request-callback-dropdown {
        min-width: 370px;
    }
}
@media screen and (max-width: 768px) {
    #brand-logo {
        width: 45px;
        position: relative;
        bottom: 3px;
        left: 0;
    }
    .navbar {
        padding: 10px 0;
    }
    #mobile-icon-logo {
        position: relative;
        left: 5px;
        top: -10px;
        width: 100%;
    }
    .dropdown {
        transition: all .5s ease;
    }
    .dropdown.open {
        border-left: 3px solid #454cd6;
    }
    .dropdown .dropdown-menu {
        transition: all 0.3s;
    }
}
@media screen and (max-width: 425px) {
    .navbar {
        padding: 7px 0;
    }
}
#landing-row {
    min-height: calc(100vh - 66px);
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #4E87B0), color-stop(1, #444BD6));
    background-image: -o-linear-gradient(left bottom, #4E87B0 0%, #444BD6 100%);
    background-image: -moz-linear-gradient(left bottom, #4E87B0 0%, #444BD6 100%);
    background-image: -webkit-linear-gradient(left bottom, #4E87B0 0%, #444BD6 100%);
    background-image: -ms-linear-gradient(left bottom, #4E87B0 0%, #444BD6 100%);
    background-image: linear-gradient(left bottom, #4E87B0 0%, #444BD6 100%);
    color: white;
}
#landing-col-bg {
    min-height: calc(100vh - 66px);
    float: left;
}
#landing-col-bg-text {
    float: right;
}
.bg-card {
    background-color: #fff;
    color: #333;
    margin: 50px 10px 0 10px;
    padding: 23px 35px;
    border-radius: 5px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in;
}
.bg-card:hover {
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.1);
}
.bg-card-content {}.bg-card-title {
    margin: 2px 0 0 0;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
    text-align: center;
}
.bg-card-desc {
    margin: 30px 0 0 0;
    text-align: center;
}
.bg-card-action {
    margin: 30px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}
.btn.new-acad-btn {
    background-color: #444bd6;
    color: #fff;
    padding: 10px 35px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17, 22, 26, 0.15);
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}
.btn.new-acad-btn:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}
.landing-text {
    margin: 50px 0;
    padding: 0 20px;
}
.landing-title {
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
}
.landing-subtitle {
    text-transform: uppercase;
    margin: 50px 0;
}
.sign-up-action {
    padding: 0 20px;
    margin: 50px 0;
}
#landing-row-sign-up {
    height: 45px;
    width: 49%;
    margin-right: -4px;
    border: 0;
    color: #000;
    padding: 0px 22px;
    font-size: 17px;
    border-radius: 30px 0px 0px 30px;
    position: relative;
    outline: none;
    border: 1px solid #ffffff;
}
#landing-row-sign-up-submit {
    height: 45px;
    border-radius: 0px 30px 30px 0px;
    background: #444bd6;
    width: 25%;
    color: #fff;
    outline: none;
    border: 0;
    margin: 0px;
    text-transform: uppercase;
    position: relative;
    top: -1px;
    font-size: 15px;
    border: 2px solid #fff;
    border-left: 0;
    transition: all .4s ease-in-out;
}
#landing-row-sign-up-submit:hover {
    background-color: #000000;
    color: #fff;
}
.video-box {
    padding: 0 20px;
    margin: 40px 20px;
    text-align: center;
    min-height: 275px;
    position: relative;
    border: 2px solid #fff;
    width: 80%;
}
.video-box .video-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.video-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
}
.video-box .video-title {
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px 0;
}
.video-box .fa {
    font-size: 108px;
    color: #ffffff;
    transition: all .3s ease;
    cursor: pointer;
}
.video-box .fa.fa-play-circle:hover {
    transform: rotate(120deg);
}
.landing-card {
    box-shadow: 1px 1px 10px #c7c7c7;
    margin: 20px auto;
    width: 400px;
    border-radius: 3px;
    transition: all .3s ease;
}
.landing-card:hover {
    box-shadow: 1px 5px 35px #c7c7c7;
}
.landing-card-img img {
    border-radius: 3px;
}
.landing-card-content {
    padding: 20px 30px;
}
.landing-card-title {
    font-size: 32px;
    margin: 10px 0;
}
.landing-card-subtitle {
    font-size: 22px;
    margin: 10px 0;
}
#acad-carousel-row {
    padding: 50px 0;
}
.acad-carousel-wrap {
    overflow: auto;
}
.acad-carousel-left,
.acad-carousel-right {
    float: left;
}
.acad-carousel-left {
    width: 24.5%;
}
.acad-carousel-right {
    width: 75.4%;
}
li.acad-carousel-trigger {
    margin: 10px 0 0 0;
    font-size: 18px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    color: #444bd6;
    background-color: #fff;
    transition: all .2s ease;
}
li.acad-carousel-trigger:hover {
    border-top: 1px solid #444bd6;
    border-bottom: 1px solid #444bd6;
    border-left: 1px solid #444bd6;
    border-right: 0;
}
li.acad-carousel-trigger.active {
    color: #fff;
    background-color: #444bd6;
    border-top: 1px solid #444bd6;
    border-bottom: 1px solid #444bd6;
    border-left: 1px solid #444bd6;
}
.acad-carousel-pane {
    display: none;
}
.acad-carousel-pane.active.in {
    display: block;
    -webkit-animation: fade .5s cubic-bezier(0, 0, .2, 1);
    animation: fade .5s cubic-bezier(0, 0, .2, 1)
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.acad-carousel-title {
    color: #4d4d4d;
    font-size: 38px;
    font-family: 'proxima_novasemibold';
}
.acad-carousel-pane img {
    border: 2px solid #444bd6;
}
#acad-mobile-carousel-row {
    text-align: center;
    padding: 50px 0;
}
#acad-mobile-carousel-row img {
    margin: auto;
}
#acad-mobile-carousel-row .content-card {
    margin: 50px 0;
}
#acad-mobile-carousel-row .content-card h3 {
    margin: 20px 0;
}
#acad-mobile-carousel-row .content-card h5 {
    margin: 10px 0;
}
#acad-mobile-carousel-row {
    text-align: center;
}
#acad-mobile-carousel-row .content-card {
    margin: 50px 0;
}
#acad-mobile-carousel-row .content-card h3 {
    margin: 20px 0;
}
#acad-mobile-carousel-row .content-card h5 {
    margin: 10px 0;
}
.cards-wrap {
    text-align: center;
}
#navigate-card-row {
    margin-bottom: 30px;
}
.navigate-card {
    width: 90%;
    display: inline-block;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #252422;
    position: relative;
    z-index: 1;
    margin: 30px 25px;
    min-height: 560px;
    vertical-align: middle;
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
}
.navigate-card:hover {
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.1);
}
.navigate-card .navigate-card-img {
    text-align: center;
}
.navigate-card .navigate-card-img img {
    width: 55%;
    margin: auto;
}
.navigate-card .navigate-card-text-wrap {
    border-top: 1px solid #e2e2e2;
    height: 100%;
}
.navigate-card .navigate-card-title {
    border-bottom: 1px solid #e2e2e2;
}
.navigate-card .navigate-card-title h4 {
    margin: 10px 0;
}
.navigate-card .navigate-card-description {
    padding: 20px 60px;
}
.navigate-card .navigate-card-text-wrap ul {
    text-align: left;
}
.navigate-card .navigate-card-text-wrap ul li {
    font-size: 15px;
    margin-bottom: 8px;
}
.navigate-card .navigate-card-text-wrap ul li .fa-check {
    margin-right: 12px;
}
.navigate-card .navigate-card-action-wrap {
    border-top: 1px solid #e2e2e2;
    font-size: 17px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navigate-card .navigate-card-action-wrap .navigate-card-btn {
    display: block;
    width: 100%;
    padding: 17px 25px;
    border: 1px solid white;
}
.sliding-btn {
    color: #31302B;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    background: #FFF;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #444bd6;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}
.sliding-btn:hover {
    box-shadow: inset 520px 0px 0 0 #444bd6;
    color: #fff;
    border-radius: 0;
}
#more-features-row {
    padding: 20px 0 40px 0;
}
.more-features-card {
    text-align: center;
    margin: 24px 0;
}
.more-features-icon {
    padding: 16px 0;
}
.more-features-icon img {
    margin: auto;
}
.more-features-text {
    padding: 0 50px;
}
.more-features-title {
    margin: 10px 0;
}
.more-features-desc {
    margin: 10px 0;
}
#students-modal .modal-dialog {
    width: 80%;
    margin: auto;
    text-align: center;
}
#students-modal .modal-content {
    padding: 0 0 30px 0;
}
.student-modal-content {
    overflow: auto;
}
.modal-content-title,
.modal-action-title {
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
}
.list-of-kids-ages,
.list-of-acad-ages {
    width: 90%;
    margin: auto;
}
.action-kids-card.active {
    background-color: #ed4630;
    color: #fff;
}
.action-acad-card.active {
    background-color: #444bd6;
    color: #fff;
}
li.kids-ages {
    float: left;
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    border: 2px solid #ed4630;
    color: #ed4630;
    user-select: none;
    padding: 15px 10px;
    cursor: pointer;
}
li.acad-ages {
    float: left;
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    border: 2px solid #444bd6;
    color: #444bd6;
    user-select: none;
    padding: 15px 10px;
    cursor: pointer;
}
li.kids-ages.active {
    background-color: #ed4630;
    border: 2px solid #ed4630;
    color: #fff;
    border-radius: 50%;
}
li.acad-ages.active {
    background-color: #444bd6;
    border: 2px solid #444bd6;
    color: #fff;
    border-radius: 50%;
}
.ages-card.active .kids-card-bullets li:before,
.ages-card.active .acad-card-bullets li:before {
    color: #fff;
}
.modal-action-kids-card,
.modal-action-acad-card {
    overflow: auto;
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}
.action-kids-card,
.action-acad-card {
    display: inline-block;
    width: 31%;
    margin: 13px 13px;
    box-shadow: 4px 7px 9px 0 rgba(78, 78, 78, 0.84);
    padding: 16px 0;
    cursor: pointer;
}
.kids-card-bullets li:before,
.acad-card-bullets li:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #4CAF50;
    margin-right: 10px;
}
.kids-card-logo,
.acad-card-logo {
    margin: 12px 0;
}
.kids-card-logo img,
.acad-card-logo img {
    margin: auto;
}
.kids-card-title,
.acad-card-title {
    margin: 12px 0;
}
.kids-card-bullets,
.acad-card-bullets {
    margin-left: 20px;
    text-align: left;
}
.kids-card-bullets li,
.acad-card-bullets li {
    padding-right: 20px;
}
.student-modal-action {
    display: none;
}
.enroll-now-card {
    padding: 30px 0;
    height: 365px;
    text-align: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #252422;
    position: relative;
    margin: 30px 25px;
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.enroll-now-card:hover {
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.2);
}
.enroll-now-card-icon img {
    margin: auto;
}
.enroll-now-card-content {
    padding: 30px 0;
}
@media screen and (max-width: 425px) {
    .enroll-now-card-content {
        padding: 30px 20px;
    }
}
.enroll-now-card-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.enroll-now-card-desc {}.enroll-now-card-action {}#watchVideo {
    display: inline-block;
    border-radius: 50%;
}
.youtube-player {
    position: absolute;
    padding-bottom: 51%;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background: transparent;
}
.youtube-player iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}
.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}
#youtube-video-modal {
    top: 20%;
    width: 100%;
    height: 70%;
    outline: none;
    border: none;
    margin-left: auto;
}
#youtube-video-modal .youtube-modal-close {
    position: relative;
    top: -35px;
    left: 16px;
    font-size: 38px;
    color: #fff;
    display: block;
    float: right;
}
button.youtube-modal-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.youtube-modal-close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: black;
    opacity: 1;
    text-shadow: none;
    outline: none;
}
.youtube-modal-dialog {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    position: relative;
}
.youtube-modal-body {
    padding: 0px;
}
@media screen and (max-width: 986px) {
    .youtube-modal-dialog {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        top: 30px;
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    .youtube-modal-dialog {
        width: 80%;
        top: 50px;
    }
    .youtube-player {
        padding-bottom: 70%;
    }
    #youtube-video-modal .youtube-modal-close {
        top: -35px;
    }
}
@media screen and (max-width: 676px) {
    #youtube-video-modal .youtube-modal-close {
        top: -40px;
        left: 0;
    }
}
@media screen and (max-width: 425px) {
    .youtube-modal-dialog {
        width: 95%;
        top: 50px;
    }
}
.parallax-container {
    position: relative;
    overflow: hidden;
    height: 400px;
}
.parallax-text {
    position: absolute;
    color: #fff;
    margin: 0 50px;
    font-size: 18px;
    font-family: proxima_novasemibold;
    left: 0;
    width: 33%;
    top: 47%;
}
.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax-container .parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.parallax-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#acad-comp-parallax-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 50px;
    padding: 20px 30px;
    background-color: #444bd6;
    color: #fff;
    border: 3px solid #444bd6;
    font-family: 'proxima_novasemibold';
    font-size: 18px;
    transition: all .4s ease-in-out;
}
#acad-comp-parallax-btn:hover {
    background-color: #fff;
    border: 3px solid #444bd6;
    color: #444bd6;
}
@media screen and (max-width: 1440px) {
    .landing-card {
        width: 350px;
    }
}
@media screen and (max-width: 1024px) {
    #landing-row {
        padding-bottom: 50px;
    }
    #landing-col-bg-text {
        text-align: center;
    }
    .video-box {
        margin: 40px auto;
    }
    .landing-card {
        width: 300px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 25px 8px;
    }
    .modal-action-kids-card,
    .modal-action-acad-card {
        flex-direction: column;
        align-items: center;
    }
    .action-kids-card,
    .action-acad-card {
        width: 80%;
    }
}
@media screen and (max-width: 425px) {
    #landing-row {
        padding: 20px 0px 50px 0px;
    }
    .landing-text,
    .sign-up-action,
    .video-box {
        margin: 25px 0;
        padding: 0;
        text-align: center;
    }
    .video-box {
        margin: 50px auto auto auto;
        width: 95%;
    }
    .landing-title {
        font-size: 32px;
    }
    .landing-subtitle {
        font-size: 20px;
    }
    #landing-row-sign-up {
        width: 60%;
    }
    #landing-row-sign-up-submit {
        width: 35%;
    }
    .landing-card {
        width: 280px;
    }
    .bg-card {
        width: 95%;
        text-align: center;
    }
    .bg-card-title {
        font-size: 26px;
    }
    .bg-card-desc {
        font-size: 17px;
    }
    #students-modal .modal-dialog {
        width: 100%;
        margin: auto;
    }
    .action-kids-card,
    .action-acad-card {
        width: 85%;
    }
    .navigate-card {
        margin: 18px auto;
        width: 95%;
    }
    .enroll-now-card {
        width: 95%;
        margin: 25px auto;
    }
    #acad-comp-parallax-btn {
        position: relative;
        right: 0;
        top: 65%;
        transform: translateY(-50%);
        margin: 0;
        padding: 18px 22px;
        background-color: #444bd6;
        color: #fff;
        border: 3px solid #444bd6;
        font-family: 'proxima_novasemibold';
        font-size: 14px;
        transition: all .4s ease-in-out;
    }
    .parallax-text {
        width: auto;
        top: 33%;
    }
}
footer {
    background-color: #e0e0e0;
    min-height: 300px;
}
footer ul li {
    padding: 8px 5px 5px 0;
    font-size: 18px;
    font-weight: 600;
}
footer ul li a {
    cursor: pointer;
}
footer input,
footer textarea {
    width: 90%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #ffffff;
    opacity: 0.9;
    border-radius: 3px;
    background-color: #ffffff;
    transition: all 0.2s ease;
}
footer textarea {
    height: 85px;
    resize: none;
    padding-top: 8px;
}
footer input[type=submit] {
    width: 105px;
    border-radius: 30px;
    background: #ffffff;
    color: #444bd6;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    padding-right: 18px;
    border: 2px solid #444bd6;
    outline: none;
    line-height: 2px;
    background-color: #ffffff;
}
footer input[type=submit]:hover {
    background: #444bd6;
    color: #ffffff;
}
footer ul {
    padding: 0px;
}
footer .left-items,
footer .right-items {
    padding: 50px 0px;
}
@media screen and (max-width: 995px) {
    footer .left-items,
    footer .right-items {
        padding: 30px 0px 20px 0px;
    }
}
footer .right-items h4 {
    margin-top: 10px;
    margin-bottom: 10px
}
.footer-copyright {
    overflow: auto;
    padding: 10px 45px;
    background-color: #383838;
    color: #ffffff;
}
footer ul #fb-like-share {
    padding-top: 29px;
    padding-bottom: 53px;
}
.bottom-footer-left ul {
    text-align: left;
    margin: 0px;
}
.bottom-footer-left ul li {
    display: inline-block;
    font-size: 14px;
    padding: 0px 12px 0px 0px;
}
.bottom-footer-right {
    text-align: right;
}
@media screen and (max-width: 992px) {
    .bottom-footer-left,
    .bottom-footer-right {
        padding: 7px 0px;
        text-align: center;
    }
    .bottom-footer-left ul {
        text-align: center;
    }
    footer {
        text-align: center;
    }
}
.footer-section {
    display: none;
    padding: 45px 20px 0px 20px;
}
.footer-section h3 {
    padding-bottom: 13px;
}
.footer-section p {
    font-size: 17px;
}
@media screen and (max-width: 425px) {
    .footer h3 {
        padding-bottom: 13px;
    }
    .footer-section p {
        font-size: 15px;
    }
}
.close-section {
    display: block;
    position: relative;
    float: right;
    bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
.footer-or:before {
    content: "___";
    vertical-align: super;
    padding-right: 3px;
}
.footer-or:after {
    content: "___";
    vertical-align: super;
    padding-left: 3px;
}
.social-icons-footer .fa {
    font-size: 25px;
    margin-right: 11px;
}
.social-icons-footer .fa.fa-facebook-official:hover {
    color: #3B5998;
}
.social-icons-footer .fa.fa-linkedin-square:hover {
    color: #0077B5;
}
.social-icons-footer .fa.fa-instagram:hover {
    color: #bf3278;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#home-testimonials-row {
    padding: 20px 0 40px 0;
}
.home-testimonials-card {
    background-color: #fff;
    color: #333;
    margin: 50px 10px 0 10px;
    padding: 23px 55px;
    border-radius: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in;
}
.home-testimonials-card:hover {
    box-shadow: 0px 8px 25px 0 rgba(0, 0, 0, 0.1);
}
.testimonials-title {
    font-size: 26px;
    margin: 2px 0 0 0;
    text-transform: uppercase;
    font-family: 'proxima_novasemibold';
}
.testimonials-role {
    font-size: 18px;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    font-family: 'proxima_novaregular';
}
.testimonials-desc {
    font-size: 16px;
    margin: 15px 0 0 0;
    font-family: 'proxima_novaregular';
}
.home-testimonials-card-content {
    text-align: center;
}
@media screen and (max-width: 425px) {
    .home-testimonials-card {
        width: 95%;
    }
}
.footer-hiring {
    display: inline-block;
    font-family: proxima_novaregular;
    background: #444bd6;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    height: 22px;
    padding: 2px 6px;
    border-radius: 2px;
    margin-left: 6px;
}
.jobs-footer {
    display: inline-block;
}
.title-bold {
    font-family: proxima_novasemibold;
}

.left-items > ul {
    list-style: none;
}

.footer-wrapper {
    margin-top: 30px;
}