@media screen and (min-width: 425px) {
    .toggleMenu {
        width: 250px !important;
    }

    .close-btn {
        display: none;
    }

    .home-icon-link {
        display: none;
    }

    .close-btn-wrapper {
        display: none;
    }

    .icons-img {
        width: 30px;
        margin-left: 6px;
    }

    .acadnion-logo {
        display: none;
    }

    .sidenav {
        width: 50px;
    }
}


@media screen and (max-width: 425px) {

    .sidenav {
        width: 0;
        height: 100%;
        padding-top: 0 !important;
    }

    .sidebar-nav {
        position: static !important;
        width: 100% !important;
    }

    .toggleMenu {
        width: 100% !important;
    }

    .close-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: -0.3em;
        background: transparent;
        border: none;
        font-size: 5em;
        color: #fff;
        outline: none;
    }

    .home-icon {
        font-size: 40px;
        margin-right: 28px;
        margin-left: 8px;
    }

    .home-icon-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px 5px 16px 5px;
        display: block;
        text-align: center;
        background: #fff;
        color: #444BD6 !important;
    }

    .settings-icon-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px 5px 16px 5px;
        display: block;
        text-align: center;
        background: #fff;
        color: #444BD6 !important;
    }

    .dashboard-icon-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px 5px 16px 5px;
        display: block;
        text-align: center;
        background: #fff;
        color: #444BD6 !important;
    }

    .icons-img {
        width: 45px;
        margin-left: 6px;
    }

    .icons-link-sep {
        display: block;
        height: 1px;
        width: 100%;
        background: rgba(0,9,128,1);
        background: -moz-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,9,128,1)), color-stop(81%, rgba(55,62,198,1)), color-stop(100%, rgba(68,75,214,0)));
        background: -webkit-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -o-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -ms-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: linear-gradient(to right, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000980', endColorstr='#444bd6', GradientType=1 );
    }

    .acadnion-logo {
        display: block;
        width: 35%;
        margin-left: 18px;
        margin-top: 14px;
    }
}

/* toggle sidebar classes ends */

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #444bd6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.sidenav:hover {
    -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
    -moz-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
    margin-top: 0;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.sidenav a:hover,
.sidenav a:active {
    display: block;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 12px;
}


 .sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
 }

 .sidebar-nav > .sidebar-brand a {
    color: #999999;
 }

 .sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
 }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    /* padding: 16px; */
}

/* #mySidenav {
	width:50px;
} */

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */



/* css from codepen */

 /* Toggle Styles */

 .nav-pills>li>a {
    border-radius: 0;
 }

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
 }

 #wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
 }

 #sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
 }

 #wrapper.toggled #sidebar-wrapper {
    width: 250px;
 }

 #page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
 }

 .xyz {
    min-width: 360px;
 }

 #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
 }

 .fixed-brand {
    width: auto;
 }
 /* Sidebar Styles */

 .no-margin {
    margin: 0;
 }

 @media(min-width:768px) {
    #wrapper {
       padding-left: 250px;
    }
    .fixed-brand {
       width: 250px;
    }
    #wrapper.toggled {
       padding-left: 0;
    }
    #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
       width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
       width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
       width: 250px;
    }
    #page-content-wrapper {
       padding: 20px;
       position: relative;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
    }
    #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
       padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
       position: relative;
       margin-right: 0;
       margin-left: -200px;
       -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
       transition: all 0.5s ease;
       width: auto;
    }
 }


/* css from codepen ends */


.navbar {
    padding-left: 3px;
    padding-right:50px;
    margin-left: 50px;
}

.portfolio-heading {
    text-align: center;
    font-family: 'proxima_novaregular';
}

.portfolio-description {
    margin-top:0;
}


.toggle-btn {
    background-color:transparent;
}

.second-or {
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
}

.import-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.import-btn-wrapper > button {
    width: 150px;
    font-size: 15px;
    padding: 11px 0px;
    margin:6px 10px;
    /* border-radius: 13px; */
    background-color: black;
    color: #999999;
}

.import-btn-wrapper > button:hover {
    color:white;
}

.file-picker-mobile-btn {
    background-color: transparent;
    text-align: center;
}

.file-picker-mobile-btn > i {
    font-size:30px;
}

@media(max-width:767px) {
    /* .sidenav {
        display: none;
    } */

    #toggle-sidemenu-btn {
        display: none;
    }

    .navbar {
        margin-left:0px;
        padding-right: 10px;
    }

    #dropdown-options-menu {
        position: relative;
        top: 0;
        right: 0;
    }

    .nav > li {
        text-align: right;
    }
}

@media(min-width:768px) {
    .file-picker-mobile-btn {
        display: none;
    }
}

@media(max-width:425px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 13px;
    }
}

@media(max-width:375px) {
    .import-btn-wrapper > button {
        margin:6px 4px;
        font-size: 10px;
    }
}


#main > .navbar {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

#main > #portfolio-content {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

#menu > li > a {
    position:relative;
    left: -2px;
}

.input-button {
    display: none;
}

.btn:focus {
    outline: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-text-decoration {
    text-decoration: none;
}

.gif-logo-wrapper {
    border: 5px dotted #333;
    display: inline-block;
    border-radius: 50%;
}

.gif-logo {
    font-size: 40px;
    display: inline-block;
    padding: 15px 10px;
}

.upload-icon {
width: 25px;
margin-right: 13px;
}