<div  class="sidenav"
      [class.toggleMenu]="navToggleVal">

  <div class="acadnion-logo" *ngIf="!isShownForDesktop">
    <img src="/acdn-portfolio/assets/icons/acadnion_logo_white.svg" alt="Acadnion" />
  </div>
  <div class="close-btn-wrapper">
    <button type="button" class="close-btn" (click)="navToggle()">&times;</button>
  </div>

  <ul class="sidebar-nav nav-pills nav-stacked"
      id="menu">
    <li>
      <span class="icons-link-sep"></span>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload Image"
          onclick="document.querySelector('#imageFileChooser').click()"
          class="animated bounceIn">
        <input  type="file"
                class="input-button"
                id="imageFileChooser"
                accept="image/x-png,image/jpeg"
                (change)="setFileChooserType($event.target.files[0], 1)" />

          <img
            src="/acdn-portfolio/assets/icons/upload_image.svg"
            alt="Upload Images"
            class="upload-icon" />Images
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload Video"
          onclick="document.querySelector('#videoFileChooser').click()"
          class="animated bounceIn">
        <input  type="file"
                class="input-button"
                id="videoFileChooser"
                accept="video/mp4,video/x-m4v,video/*"
                (change)="setFileChooserType($event.target.files[0], 3)" />
          <img
          src="/acdn-portfolio/assets/icons/upload_video.svg"
          alt="Upload Video"
          class="upload-icon" />Video
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload Document"
          onclick="document.querySelector('#docFileChooser').click()"
          class="animated bounceIn">
        <input  type="file"
                class="input-button"
                id="docFileChooser"
                accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" (change)="setFileChooserType($event.target.files[0], 4)" />
            <img
            src="/acdn-portfolio/assets/icons/upload_document.svg"
            alt="Upload Document"
            class="upload-icon" />Document
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload PDF"
          onclick="document.querySelector('#pdfFileChooser').click()"
          class="animated bounceIn">
        <input  type="file"
                class="input-button"
                id="pdfFileChooser"
                accept="application/pdf"
                (change)="setFileChooserType($event.target.files[0], 4)" />
          <img
          src="/acdn-portfolio/assets/icons/upload_pdf.svg"
          alt="Upload PDF"
          class="upload-icon" />PDF
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <!-- <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Open Camera"
          class="animated bounceIn"
          (click)="showWebCamModal()">
        <img
        src="/acdn-portfolio/assets/icons/webcam.svg"
        alt="Upload Image"
        class="upload-icon" />Web Camera
      </a>
      <span class="icons-link-sep"></span>
    </li> -->
    <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload Video via Video Links"
          (click)="showVideoUrlModal()"
          class="animated bounceIn">
        <img
        src="/acdn-portfolio/assets/icons/video_url.svg"
        alt="Upload Images"
        class="upload-icon" />Video Link
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <li>
      <a  href="javascript:void(0);"
          data-toggle="tooltip"
          title="Upload Image"
          onclick="document.querySelector('#gifFileChooser').click()"
          class="animated bounceIn">

        <input class="input-button" id="gifFileChooser" accept="image/gif" (change)="setFileChooserType($event.target.files[0], 1)" type="file" />

        <img  src="/acdn-portfolio/assets/icons/upload_gif.svg"
              alt="Upload GIF"
              class="upload-icon" />GIFF
      </a>
    </li>
    <li *ngIf="!isShownForDesktop">
      <a href="#" class="dashboard-icon-link">
          <span class="icon-txt">Dashboard</span>
      </a>
      <span class="icons-link-sep"></span>
    </li>
    <li *ngIf="!isShownForDesktop">
      <a href="#" class="settings-icon-link">
          <span class="icon-txt">Settings</span>
      </a>
      <span class="icons-link-sep"></span>
    </li>
  </ul>
</div>