<div    class="animated bounceIn grid-wrapper"
        [ngClass]="{'cursorPointer' : (type==3)}"
        doubleTap
        [delay]="300"
        (doubleTapped)="showContentDetailsForMobile()"
        #eachGridWrapper>

    <div class="mobileTouchOverlay"
        (touchstart)="touchstart()"
        (touchend)="touchend()"
        *ngIf="type == 1">
    </div>

    <p  class="show-information-icon"
        (click)="showContentDetailsCard($event)"
        (mouseover)="isContentDetailsAvailable()"
        (mouseout)="isContentDetailsAvailable()"
        *ngIf="isShownForDesktop">
        <i class="fa fa-info" aria-hidden="true"></i>
    </p>

    <p  class="show-actual-asset-icon"
        (click)="showActualAsset()"
        *ngIf="type == 1 && isShownForDesktop">
        <img src="/acdn-portfolio/assets/icons/zoomimg.svg" alt="Zoom Image" />
    </p>

    <div    class="description-wrapper"
            *ngIf="isShownForDesktop">
        <p class="description-txt">{{ name }}</p>
    </div>

    <div class="asset-wrapper"
        (click)="gridClicked()">

        <img    *ngIf="type != 5 && type != 2"
                [src]="show"
                class="grid-image" />

        <img  *ngIf="type == 5"
            [attr.data-gifffer]="show"
            class="grid-image" />

        <div    class="url-link-wrapper"
                [innerHTML]="iFrameHtml"
                *ngIf="type == 2">
        </div>

        <span   class="video-info-icon"
                *ngIf="type == 3"
                (click)="showVideoContentDetailsForMobile($event)">
            <i class="fa fa-info" aria-hidden="true"></i>
        </span>

        <i  *ngIf="type == 3"
            class="fa fa-play-circle video-play-icon"
            aria-hidden="true"></i>
    </div>

    <div  class="displayNone video-player-wrapper"
        *ngIf="type == 3"
        #eachVideoPlayer>
        <span class="close-btn" (click)="closeVideoBtn()">X</span>
        <vg-player>
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            </vg-scrub-bar>

            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>
                <vg-volume></vg-volume>

                <vg-fullscreen *ngIf="isShownForDesktop"></vg-fullscreen>
            </vg-controls>

            <video [vgMedia]="media" #media id="singleVideo" preload="auto">
                <source [src]="asset" type="video/mp4" #source>
            </video>

        </vg-player>
    </div>
</div>