.description-wrapper {
    position: absolute;
    bottom: -60px;
    color: #fff;
    left: 6px;
    right: 6px;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    padding-top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.description-txt {
    text-align: center;
}

.grid-image {
    width: 100%;
    height: 100%;
}

.grid-wrapper:hover .description-wrapper,
.grid-wrapper:focus .description-wrapper {
    bottom: 0;
}

.grid-wrapper {
    overflow: hidden;
    padding: 0.4em;
}



.grid-wrapper:hover .show-information-icon {
    opacity: 1;
}

.grid-wrapper:hover .show-actual-asset-icon {
    opacity: 1;
}

.asset-wrapper {
    position: relative;
    height: 100%;
}

.video-play-icon {
    display: block;
    text-align: center;
    position: absolute;
    font-size: 10em;
    color: #fff;
    top: 50%;
    left: 50%;
    right: 0;
    margin: auto;

    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.8;
    /* width: 32%; */
}

.cursorPointer {
    cursor: pointer;
}

.video-player-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.video-player-wrapper:hover .close-btn {
    opacity: 1;
    z-index: 1111;
}

.displayNone {
    display: none;
}

.close-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 50px;
    color: #fff;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.show-information-icon {
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 13px 22px;
    color: #444BD6;
    font-style: italic;
    font-weight: bold;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -o-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.show-actual-asset-icon {
    position: absolute;
    top: 90px;
    left: 20px;
    padding: 12px 22px;
    color: #444BD6;
    font-style: italic;
    font-weight: bold;
    background: #fff;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    -o-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.20);
    border-radius: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    width: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.show-actual-asset-icon > img {
    position: relative;
    left: -8px;
    height: 22px;
}

.video-info-icon {
    display: none;
}

@media screen and (max-width: 425px) {
    .mobileTouchOverlay {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .video-info-icon {
        display: block;
        position: absolute;
        top: 50%;
        font-size: 4em;
        color: #444BD6;
        border: 2px solid #fff;
        padding: 12px 43px;
        border-radius: 150%;
        background: #fff;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 10%;
    }

    .video-play-icon {
        left: 70%;
    }
}

