.modal-footer-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

.videoUrlCheckIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: #444BD6;
}

.videoUrlCrossIcon {
    position: absolute;
    top: 50%;
    right: 12px;
    color: red;
}