<div  bsModal #updateVideoUrlModal="bs-modal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="mySmallModalLabel"
      aria-hidden="true">

  <form (ngSubmit)="updateVideoUrlSubmit(updateVideoUrlForm)"
        #updateVideoUrlForm="ngForm">
    <div class="modal-dialog modal-lg acdn-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Paste your
            <i class="fa fa-youtube-play custom-youtube-icon" aria-hidden="true"></i> Youtube OR
            <i class="fa fa-vimeo custom-vimeo-icon" aria-hidden="true"></i> Vimeo Video Link
          </h4>
          <button type="button"
                  class="close pull-right"
                  aria-label="Close"
                  (click)="hideVideoUrlModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <input  type="text"
                      class="form-control material-form url-txtbox"
                      name="videoUrl"
                      (input)="checkVideoUrl($event.target.value)"
                      ngModel
                      placeholder="Video URL"
                      required="true"
                      spellcheck="false" />
              <i class="fa fa-check videoUrlCheckIcon displayNone" #videoUrlCheckIcon aria-hidden="true"></i>
              <i class="fa fa-times videoUrlCrossIcon displayNone" #videoUrlCrossIcon aria-hidden="true"></i>
            </div>
            <div class="col-md-12">
                <p class="videoThumbnailMessage" #videoThumbnailMessage></p>
            </div>
            <div class="col-md-12 text-center">
              <div class="modal-footer-wrapper">
                <button type="submit"
                        class="acdn-btn"
                        [disabled]="isDisabled">Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>