<div class="general-sidebar" [class.toggleMenu]="navToggleVal">
    <div class="acadnion-logo">
        <img src="/acdn-portfolio/assets/icons/acadnion_logo_white.svg" alt="Acadnion" />
    </div>
    <div class="close-btn-wrapper">
        <button type="button" class="close-btn" (click)="navToggle()">&times;</button>
    </div>
    <ul class="icons-wrapper">
        <li>
            <a href="#" class="icons-link">
                <img    src="/acdn-portfolio/assets/icons/acadnion_kids.svg"
                        class="icons-img"
                        alt="Acadnion Kids" />
                <span class="icons-txt">acadnion kids</span>
            </a>
            <span class="icons-link-sep"></span>
        </li>
        <li>
            <a href="#" class="icons-link">
                <img    src="/acdn-portfolio/assets/icons/courses.svg"
                        class="icons-img"
                        alt="Courses" />
                <span class="icons-txt">Courses</span>
            </a>
            <span class="icons-link-sep"></span>
        </li>
        <li>
            <a href="#" class="icons-link">
                <img    src="/acdn-portfolio/assets/icons/workshops.svg"
                        class="icons-img"
                        alt="Workshops" />
                <span class="icons-txt">Workshops</span>
            </a>
            <span class="icons-link-sep"></span>
        </li>
        <li>
            <a href="#" class="icons-link">
                <img    src="/acdn-portfolio/assets/icons/bootcamp.svg"
                        class="icons-img"
                        alt="Bootcamps" />
                <span class="icons-txt">Bootcamps</span>
            </a>
        </li>
        <li>
            <span class="icons-link-sep"></span>
            <a href="#" class="home-icon-link">
                <span class="icon-txt">Dashboard</span>
            </a>
            <span class="icons-link-sep"></span>
        </li>
        <li *ngIf="!isShownForDesktop">
            <a href="#" class="settings-icon-link">
                <span class="icon-txt">Settings</span>
            </a>
            <span class="icons-link-sep"></span>
        </li>
    </ul>
</div>