@media screen and (min-width: 425px) {
    .toggleMenu {
        width: 250px !important;
    }

    .close-btn {
        display: none;
    }

    .home-icon-link {
        display: none;
    }

    .settings-icon-link {
        display: none;
    }

    .close-btn-wrapper {
        display: none;
    }

    .icons-img {
        width: 30px;
        margin-left: 6px;
    }

    .acadnion-logo {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .toggleMenu {
        width: 100% !important;
    }

    .close-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: -0.3em;
        background: transparent;
        border: none;
        font-size: 5em;
        color: #fff;
        outline: none;
    }

    .home-icon {
        font-size: 40px;
        margin-right: 28px;
        margin-left: 8px;
    }

    .home-icon-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px 5px 16px 5px;
        display: block;
        text-align: center;
        background: #fff;
        color: #444BD6 !important;
        font-size: 15px;
    }

    .settings-icon-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        padding: 16px 5px 16px 5px;
        display: block;
        text-align: center;
        background: #fff;
        color: #444BD6 !important;
        font-size: 15px;
    }

    .icon-txt {
        font-size: 15px;
    }

    .icons-img {
        width: 25px;
        margin-left: 6px;
    }

    .icons-link-sep {
        display: block;
        height: 1px;
        width: 100%;
        background: rgba(0,9,128,1);
        background: -moz-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,9,128,1)), color-stop(81%, rgba(55,62,198,1)), color-stop(100%, rgba(68,75,214,0)));
        background: -webkit-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -o-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: -ms-linear-gradient(left, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        background: linear-gradient(to right, rgba(0,9,128,1) 0%, rgba(55,62,198,1) 81%, rgba(68,75,214,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000980', endColorstr='#444bd6', GradientType=1 );
    }

    .acadnion-logo {
        display: block;
        width: 35%;
        margin-left: 18px;
        margin-top: 14px;
    }
}

.general-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: #444BD6;
    /* width: 250px; */
    z-index: 999;
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.icons-wrapper {
    list-style: none;
    padding: 0;
    overflow: hidden;
    font-size: 2em;
    margin-top: 5%;
}

.icons-link {
    display: block;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 16px 5px 16px 5px;
    font-size: 15px;
}



/* .icons-wrapper li:first-child a img {
    width: 45px;
    margin-left: 0;
} */

.icons-txt {
    padding-left: 16px;
}

/* .icons-wrapper li:first-child .icons-txt {
    padding-left: 8px;
} */

.icons-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
    .general-sidebar {
        width: 0;
    }
}