<div class="gift-wrapper" [ngClass]="{'top0' : isGiftCardShown}">
  <a href="javascript:void(0);" class="gift-link">Create your digital portfolio and earn a chance to win Amazon gift vouchers worth Rs. 500. Every month, 3 lucky winners will be chosen at random.</a> 
  <i class="fa fa-times gift-wrapper-close" aria-hidden="true" (click)="isGiftCardShown=false;"></i>
</div>

<!-- Acadnion Common Header -->
<header>
  <nav class="navbar navbar-default" role="navigation" [ngClass]="{'top32' : isGiftCardShown}">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="https://acadnion.com/#">
      <div id="brand-logo">
        <img id="mobile-icon-logo" class="hidden-sm hidden-md hidden-lg" src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/logo-sm-nav.png" alt="">
        <img id="full-logo" class="hidden-xs" src="https://acadnion.com/assets/img/logo.png?v=3" alt="">
      </div> </a>
    </div>
    <div class="collapse navbar-collapse" id="collapsing-navbar">
      <div class="cd-morph-dropdown hidden-xs">
      <div class="main-nav nav navbar-nav navbar-right">
        <ul>
        <li class="has-dropdown callback-dropdown" data-content="callback-dropdown-content"> <a href="https://acadnion.com/#0">Request Callback</a> </li>
        <li class="has-dropdown gift-dropdown" data-content="gift-dropdown-content"> <a href="https://acadnion.com/#0">Gift</a> </li>
        <li class="has-dropdown kids-dropdown" data-content="kids-dropdown-content"> <a href="https://acadnion.com/#0">Acadnion Kids</a> </li>
        <li class="has-dropdown courses-dropdown" data-content="courses-dropdown-content"> <a href="https://acadnion.com/#0">Courses</a> </li>
        <li class="has-dropdown workshops-dropdown" data-content="workshops-dropdown-content"> <a href="https://acadnion.com/#0">Workshops</a> </li>
        <li class="has-dropdown bootcamps-dropdown" data-content="bootcamps-dropdown-content"> <a href="https://acadnion.com/#0">Bootcamps</a> </li>
        <li class="has-no-dropdown" *ngIf="isCookieSet"> <button class="logout-btn" type="button" (click)="logout()">Logout</button> </li>
        <li class="has-no-dropdown" *ngIf="!isCookieSet"> <a data-toggle="modal" href="https://acadnion.com/#new-login-signup-modal">Login</a> </li>
        </ul>
      </div>
      <div class="morph-dropdown-wrapper">
        <div class="dropdown-list" style="transform: translateX(584px); width: 340px; height: 159px;">
        <ul>
          <li id="callback-dropdown-content" class="dropdown callback-dropdown">
          <div class="content">
            <div class="callback-form">
            <form method="POST" id="callback-form">
              <div class="form-group">
              <input type="text" class="form-control material-form" pattern="[A-Za-z ]+" id="callback-name" placeholder="Name" required="" maxlength="25">
              </div>
              <div class="form-group">
              <input type="number" class="form-control material-form" pattern="[0-9]{10}" id="callback-phone" placeholder="Number" required="">
              <button type="submit" class="btn new-acd-btn" id="callback-otp-btn">SEND OTP</button>
              <small class="otptext"></small>
              </div>
              <div class="form-group">
              <input type="text" class="form-control material-form" pattern="[0-9]{6}" id="callback-otp" placeholder="OTP" required="">
              <small class="otpreply"></small>
              </div>
              <div class="checkbox" id="callback-checkbox-wrap">
              <label> <input type="checkbox" required=""> <p>I accept the <a class="terms-of-service" target="_blank" href="https://www.acadnion.com/termsofuse">Terms of Service</a> and <a class="privacy-policy" href="https://www.acadnion.com/privacypolicy" target="_blank">Privacy Policy</a></p> </label>
              </div>
              <button type="submit" class="btn new-acd-btn" id="callback-submit-btn">SUBMIT</button>
            </form>
            <div id="success-reply">
              <h3>Thank you for contacting us.<br> We'll call you back within 24hrs.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
            </div>
            <div id="fail-reply">
              <h3>Thank you for contacting us.<br> You seem to have exceeded otp limit.<br> Please mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
            </div>
            </div>
          </div> </li>
          <li id="gift-dropdown-content" class="dropdown gift-dropdown">
          <div class="content">
            <ul>
            <li><img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_acadgift_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/gift">Gifts on acadnion</a></li>
            <li><img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_kidsgift_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/gift">Gifts on acadnion kids</a></li>
            </ul>
          </div> </li>
          <li id="kids-dropdown-content" class="dropdown kids-dropdown">
          <div class="content">
            <ul>
            <li><a>Courses, Workshops, Bootcamps and Learning Kits for kids. Class 1st to 8th.</a></li>
            <hr>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_courses_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/courses">Courses</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_workshops_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/workshops">Workshops</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_bootcamps_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/bootcamps">Bootcamps</a> </li>
            <li> <img src="./acadnion_ Classroom &amp; Online Courses, Workshops &amp; Bootcamps_files/car_learning_kit_icon.png" alt="" class="nav-icon"><a href="https://acadnion.com/kids/learningkit">Learning Kits</a> </li>
            </ul>
          </div> </li>
          <li id="courses-dropdown-content" class="dropdown courses-dropdown">
          <div class="content">
            <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/courses/introduction-to-web-development">Introduction to Web Development</a></li>
            </ul>
          </div> </li>
          <li id="workshops-dropdown-content" class="dropdown workshops-dropdown">
          <div class="content">
            <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/workshops/introduction-to-graphic-design">Introduction to Graphic Design</a></li>
            </ul>
          </div> </li>
          <li id="bootcamps-dropdown-content" class="dropdown bootcamps-dropdown">
          <div class="content">
            <ul>
            <li> <span class="coursetag">CLASSROOM</span> <a href="https://acadnion.com/bootcamps/application-development-bootcamp">Application Development Bootcamp</a></li>
            </ul>
          </div> </li>
        </ul>
        <div class="bg-layer" aria-hidden="true" style="transform: scaleX(340) scaleY(159);"></div>
        </div>
      </div>
      </div>
      <div class="nav navbar-nav hidden-sm hidden-md hidden-lg">
      <div class="nav-nest" id="nest-main" style="">
        <div class="nav-nest-trigger" target-nest="#nest-one">
        Request Callback
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-two">
        Acadnion Kids
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-three">
        Courses
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-four">
        Workshops
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-five">
        Bootcamps
        </div>
        <a href="https://acadnion.com/gift">
        <div class="nav-nest-no-trigger">
          Gift
        </div></a>
        <div class="nav-nest-no-trigger" data-toggle="modal" data-target="#new-login-signup-modal">
        Login
        </div>
      </div>
      <div class="nav-nest" id="nest-one" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="callback-form-mobile">
        <form method="POST" id="callback-form-mobile">
          <div class="form-group">
          <input type="text" class="form-control material-form" id="callback-name-mobile" pattern="[A-Za-z ]+" placeholder="Name" required="" maxlength="25">
          </div>
          <div class="form-group">
          <input type="text" class="form-control material-form" id="callback-phone-mobile" pattern="[0-9]{10}" placeholder="Number" required="">
          <button type="submit" class="btn new-acd-btn" id="callback-otp-btn-mobile">SEND OTP</button>
          <small class="otptextmobile"></small>
          </div>
          <div class="form-group">
          <input type="number" class="form-control material-form" id="callback-otp-mobile" pattern="[0-9]{6}" placeholder="OTP" required="">
          <small class="otpreplymobile"></small>
          </div>
          <div class="checkbox" id="callback-checkbox-wrap">
          <label> <input type="checkbox" required=""> <p>I accept the <a href="https://www.acadnion.com/termsofuse" class="terms-of-service" target="_blank">Terms of Service</a> and <a href="https://www.acadnion.com/privacypolicy" class="privacy-policy" target="_blank">Privacy Policy</a></p> </label>
          </div>
          <button type="submit" class="btn new-acd-btn" id="callback-submit-btn-mobile">SUBMIT</button>
        </form>
        <div id="success-reply-mobile">
          <h3>Thank you for contacting us.<br> We'll call you back within 24hrs.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
        </div>
        <div id="fail-reply-mobile">
          <h3>Thank you for contacting us.<br> You seem to have exceeded otp limit.<br> Please feel free to mail us on <a href="mailto:support@acadnion.com">support@acadnion.com</a> </h3>
        </div>
        </div>
      </div>
      <div class="nav-nest" id="nest-two" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="kids-list">
        <div class="nav-nest-trigger" target-nest="#nest-two-one">
          Courses
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-two-two">
          Workshops
        </div>
        <div class="nav-nest-trigger" target-nest="#nest-two-three">
          Bootcamps
        </div>
        <a href="https://acadnion.com/kids/learningkit">
          <div class="nav-nest-no-trigger">
          Learning Kit
          </div></a>
        <a href="https://acadnion.com/kids/gift">
          <div class="nav-nest-no-trigger">
          Gift
          </div></a>
        </div>
      </div>
      <div class="nav-nest" id="nest-two-one" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/courses/introduction-to-design">Introduction to Design</a>
        </div>
      </div>
      <div class="nav-nest" id="nest-two-two" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/workshops/introduction-to-computer-science">Introduction to Computer Science</a>
        </div>
      </div>
      <div class="nav-nest" id="nest-two-three" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-two"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/kids/bootcamps/introduction-to-graphic-design">Introduction to Graphic Design</a>
        </div>
      </div>
      <div class="nav-nest" id="nest-three" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/courses/introduction-to-web-development">Introduction to Web Development</a>
        </div>
      </div>
      <div class="nav-nest" id="nest-four" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/workshops/introduction-to-graphic-design">Introduction to Graphic Design</a>
        </div>
      </div>
      <div class="nav-nest" id="nest-five" style="display: none;">
        <span class="nav-nest-back" target-nest="#nest-main"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;BACK </span>
        <div class="nav-nest-no-trigger mobile-padding">
        <span class="coursetag">CLASSROOM</span>
        <a href="https://acadnion.com/bootcamps/application-development-bootcamp">Application Development Bootcamp</a>
        </div>
      </div>
      </div>
    </div>
    </div>
  </nav>
  </header>

<div  class="container cards-collection"
      bottomScroll
      (bottomScrolled)="loadMorePortfolios()"
      [ngClass]="{'top32' : isGiftCardShown}">
  <div class="row">
    <div class="col-md-5">
      <h1 class="active-content-type"
          [ngClass]="{'fontSize25': activeContentType.innerHTML == 'Featured'}"
          #activeContentType>Featured</h1>
    </div>

    <div class="col-md-7">
      <div class="options-wrapper">

        <div class="filter-sort-wrapper">
    
          <div class="sort-wrapper">
            <span class="sort-logo"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></span>
            <span class="sort-txt-mob">Sort</span>
            <ul>
              <li class="sort-item" [ngClass]="{'current-sort' : (currentSort == 1)}" (click)="rowData=[];sortPortfolioProfiles(1, 1)">Featured</li>
              <li class="sort-item" [ngClass]="{'current-sort' : (currentSort == 2)}" (click)="rowData=[];sortPortfolioProfiles(2, 1)">Claps</li>
              <li class="sort-item" [ngClass]="{'current-sort' : (currentSort == 3)}" (click)="rowData=[];sortPortfolioProfiles(3, 1)">Views</li>
            </ul>
          </div>
        </div>

        <div class="search-wrapper">
          <input  type="text"
                  class="search-input"
                  placeholder="Search"
                  (keypress)="searchEntered($event)"
                  #searchInput />
          <i class="fa fa-search" aria-hidden="true"></i>
          <button type="button" class="search-enter-icon-btn">
              <img  src="/acdn-portfolio/assets/icons/enter_arrow.svg"
                    class="search-enter-icon"
                    [ngClass]="{'displayNone' : (searchInput.value.trim() == '')}"
                    (click)="rowData=[];searchText(1)" />
          </button>
        </div>

      </div>
    </div>
    
  </div>

  <button type="button" (click)="getPortfolioProfiles(1)" style="display:block;margin:16px auto;" class="acdn-btn" [ngClass]="{'displayNone' : showBackBtn}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</button>

  <div class="row">
    <div  class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-grid-wrapper"
          *ngFor="let eachRowData of rowData;let i=index"
          [ngClass]="{'card-margin-top': (i > 0)}">
        
      <div  class="card-wrapper-doubleTap"
            (touchstart)="touchstart(detailsWrapper, cardWrapperDoubleTap)"
            (touchend)="touchend(detailsWrapper, cardWrapperDoubleTap)"
            #cardWrapperDoubleTap>
      </div>

      <div  class="card-wrapper"
            [style.background]="'url('+eachRowData['cover_image']+')'"
            (mouseenter)="mouseEnterOncard(detailsWrapper, cardWrapperDoubleTap)"
            (mouseleave)="mouseLeaveOncard(detailsWrapper, cardWrapperDoubleTap)">
        <div class="profile-image-wrapper">
          <img src="{{eachRowData['profile_image']}}" alt="" class="profile-image" [ngClass]="{'widHgt100px' : (windowInnerWidth >= 1440)}" />
        </div>
  
        <div class="profile-name-wrapper">
          <h1 class="profile-name">{{eachRowData['name']}}</h1>
        </div>

        <div  class="details-wrapper" #detailsWrapper>

          <div class="details-inner">
            
            <div class="description-wrapper">
              <p>{{eachRowData['description']}}</p>
            </div>

            <div class="roles-wrapper" *ngIf="eachRowData['roles'] != '' && eachRowData['roles'] != undefined">
              <p>{{eachRowData['roles']}}</p>
            </div>

            <div class="availability-wrapper" *ngIf="eachRowData['availability'] != '' && eachRowData['availability'] != undefined">
              <p>{{eachRowData['availability']}}</p>
            </div>
  
            <div class="second-part">
              <div class="first-button">
                <div class="merge-btn-wrap" (mouseenter)="contactHover()" (mouseleave)="contactHover()">
                  <button class="merge-btn-icon merge-btn-first"
                          [class.pad8px]="windowInnerWidth >= 1440"
                          [class.mergeBtnIconHover]="contactHovered"
                          data-toggle="modal"
                          data-target="#phonemodal"
                          (click)="showContactModal(1, eachRowData['id'])">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </button>
                  <button class="merge-btn-icon"
                          [class.pad8px]="windowInnerWidth >= 1440"
                          [class.mergeBtnIconHover]="contactHovered"
                          data-toggle="modal"
                          data-target="#emailmodal"
                          (click)="showContactModal(2, eachRowData['id'])">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </button>
                  <button class="merge-btn-icon merge-btn-last"
                          [class.pad8px]="windowInnerWidth >= 1440"
                          [class.mergeBtnIconHover]="contactHovered"
                          data-toggle="modal"
                          data-target="#messagemodal"
                          (click)="showContactModal(3, eachRowData['id'])">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                  </button>
                  <div class="merge-btn-label" [ngClass]="{'mergeBtnLabelHover': contactHovered}">CONTACT</div>
                </div>
    
              </div>
              <div class="second-button">
                <div class="contact-btn-wrapper">
                  <a routerLink="/{{eachRowData['username']}}" class="contact-button">View</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="gradient-wrapper">
        <div class="views-wrapper" [ngClass]="{'topM145px': (windowInnerWidth >= 1440)}" (window:resize)="changeInnerWidth($event)">
          <img src="/acdn-portfolio/assets/icons/views_white.svg" alt="Views" class="views-img" />
          <span class="views-count">{{eachRowData['views']}}</span>
        </div>

        <div class="claps-wrapper">
          <button type="button" class="claps-btn" (click)="clap(eachRowData['username'], clapImg, clapCount)">
            <img [src]="((eachRowData['clapped']) ? '/acdn-portfolio/assets/icons/clap_royalblue.svg': '/acdn-portfolio/assets/icons/clap_white.svg')" alt="Claps" class="claps-img" #clapImg />
            <span class="claps-count" #clapCount>{{(eachRowData['claps'] != undefined && eachRowData['claps'] != '') ? eachRowData['claps'] : 0 }}</span>
          </button>
        </div>
  
      </div>

      <div  class="clearfix rowSeparator"
            *ngIf="(i+1)%3 === 0">
      </div>
    </div>
  </div>

  <div class="options-mob-wrapper" #optionsMobWrapper>

    <button type="button" class="search-mob-wrapper" (click)="searchMobClick()">
      <i class="fa fa-search" aria-hidden="true"></i>
      <span class="search-mob-txt">Search</span>
    </button>

    <button class="sort-mob-wrapper" (click)="sortMobClick()">
      <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
      <span class="sort-mob-txt">Sort</span>
    </button>

    <div class="search-mob-input-wrapper displayNone" #searchMobInputWrapper>
      <div class="search-mob-backdrop" (click)="searchMobClick()"></div>
      <div class="search-mob-input-cover">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input  type="text"
                class="search-mob-input"
                placeholder="SEARCH"
                (keypress)="searchEntered($event)"
                #searchMobInput />
      </div>
    </div>

    <div class="sort-mob-input-wrapper displayNone" #sortMobInputWrapper>
      <div class="sort-mob-backdrop" (click)="sortMobClick()"></div>
      <ul class="sort-mob-input-cover">
        <li class="sort-mob-heading">Sort by</li>
        <li class="sort-mob-input" [ngClass]="{'current-sort-mob' : (currentSort == 1)}" (click)="rowData=[];sortPortfolioProfiles(1, 1)">Featured</li>
        <li class="sort-mob-input" [ngClass]="{'current-sort-mob' : (currentSort == 2)}" (click)="rowData=[];sortPortfolioProfiles(2, 1)">Claps</li>
        <li class="sort-mob-input" [ngClass]="{'current-sort-mob' : (currentSort == 3)}" (click)="rowData=[];sortPortfolioProfiles(3, 1)">Views</li>
      </ul>
    </div>

  </div>

  <div class="next-portfolios-message-wrapper" *ngIf="nextPortfoliosMessage != undefined && nextPortfoliosMessage != ''">
    <p class="next-portfolios-message">{{ nextPortfoliosMessage }}</p>
  </div>
</div>

<ng-container #_contactPopupContainer></ng-container>

<!-- Login Modal -->
<div class="modal fade" id="new-login-signup-modal">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">LOGIN / SIGNUP</h4>
    </div>
    <div class="modal-body">
    <div role="tabpanel">
    
    <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" id="presentlogin">
    <a href="#login-tab" aria-controls="tab" role="tab" data-toggle="tab">LOGIN</a>
    </li>
    <li role="presentation" id="presentsignup">
    <a href="#signup-tab" aria-controls="home" role="tab" data-toggle="tab">SIGN UP</a>
    </li>
    </ul>
    <div class="tab-content">
      <div id="login-tab" class="tab-pane active">
      <div class="email-container">
      <header>Login with email</header>
      <form class="form-horizontal" id="login-tab-form" role="form" method="POST" action="" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <input id="email" type="email" class="form-control material-form" name="email" value="" autofocus="" placeholder="Email" [(ngModel)]="email" required />
          <small id="emailerror" #emailError></small>
        </div>
        <div class="form-group">
          <input id="password" type="password" class="form-control material-form" name="password" placeholder="Password" [(ngModel)]="password" style="width: 100%" required />
        </div>
        <div class="form-group">
        <button type="submit" class="btn-continue btn-material" id="login-submit">Continue</button>
        <a class="btn btn-link forgotPassword" href="/student/password/reset">Forgot Your Password?</a>
        </div>
      </form>
      </div>
      <div class="login-container">
      <header class="or-before-after">OR</header>
      <a href="/auth/google" class="btn btn-lg google"><span class="google-login-icon"><i class="fa fa-google" aria-hidden="true"></i></span><span class="google-login-text">Login with Google</span></a>
      <a href="/student/auth/facebook" class="btn btn-lg fb"><span class="fb-login-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span><span>Login with Facebook</span> </a>
      </div>
      </div>
      <div id="signup-tab" class="tab-pane fade">
        <div class="signup-container">
        <header>Sign up with email</header>
        <form id="signup-tab-form" class="form-horizontal" role="form" method="POST" action="">
        <div class="form-group">
        <input class="form-control material-form" type="text" placeholder="Full Name" id="full-name" name="full-name" value="" required="">
        </div>
        <div class="form-group">
        <input class="form-control material-form" type="email" placeholder="Email" id="s-email" name="email" value="" required="">
        <small id="signup-error"></small>
        </div>
        <div class="form-group">
        <input class="form-control material-form" type="password" placeholder="Password" id="s-password" name="password" required="">
        </div>
        <div class="checkbox">
        <label>
        <input type="checkbox" required><p>I accept the <a class="terms-of-service" target="_blank" href="https://www.acadnion.com/termsofuse">Terms of Service</a> and <a class="privacy-policy" href="https://www.acadnion.com/privacypolicy" target="_blank">Privacy Policy</a></p>
        </label>
        </div>
        <button type="submit" class="btn-material" id="validate_submit">Continue</button>
        </form>
        </div>
        <div class="signup-socialmedia-container">
        <header class="or-before-after">OR</header>
        <a href="/auth/google" class="btn btn-lg google">
        <span class="google-login-icon"><i class="fa fa-google" aria-hidden="true"></i></span>
        <span class="google-login-text">Sign up with Google</span></a>
        <a href="/student/auth/facebook" class="btn btn-lg fb"><span class="fb-login-icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span><span>Sign up with Facebook</span></a>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
  <!-- End of Login Modal -->  
