/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */

body {
    overflow-x: hidden;
    /* zoom: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); */
}

/*
* {
    outline: none;
}
*/

.gridster-item-inner {
    width: 100%;
    height: 100%;
}

.grid-wrapper {
    width: 100%;
    height: 100%;
}

.croppie-container .cr-overlay {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.croppie-container .cr-overlay:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drop-zone {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-box-align:center;
    -ms-flex-align:center;
    -ms-grid-row-align:center;
    align-items:center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 250px !important;
    border: 3px dashed #444BD6 !important;
    border-radius: 0 !important;
}

.drop-zone .content {
    height: auto;
    color: #444BD6 !important;
    font-size: 1.4em;
}

.gridster-item-resizable-handler.handle-se {
    border-width: 0 0 10px 10px !important;
    border-color: transparent transparent #444BD6 !important;
}

.modal-content {
    border-radius: 0;
}

.form-control:focus {
    border-color: rgba(68, 77, 182, 0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68,77,182,.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68,77,182,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(68,77,182,.6);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff;
}

.position-highlight .inner {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background-color: #444BD6;
    border: 1px solid transparent;
    transition: all 3s;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modal-animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.modal-backdrop {
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    transition: all 2s ease-out;
    background: rgba(0,0,0,1);
}
/*
.modal-backdrop.fade.in {
    opacity: 1;
} */

.acdn-modal-dialog {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    max-width: 800px !important;
}

.acdn-webcam-modal-dialog {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    width: 80%;
}


.acdn-btn {
    background-color: #444bd6;
    border: 1.5px solid #444bd6;
    color: #fff !important;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 35px;
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
}

.acdn-btn:hover,
.acdn-btn:focus {
    color: #444BD6 !important;
    background: #fff;
    box-shadow: 4px 4px 8px 0 rgba(46,61,73,.2);
    outline: none;
}

.acdn-btn:disabled {
    cursor: not-allowed;
}

.acdn-btn:disabled:hover {
    background-color: #444bd6;
    color: #fff;
}

.acdn-txt {
    border: 1.5px solid #444BD6;
    border-radius: 4px;
    padding: 8px 16px;
    width: 100%;
    outline: none;
}

.acdn-txt:focus {
    box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: 8px 10px 20px 0 rgba(17,22,26,0.15);
}

.acdn-btn:active {
    box-shadow: inset 2px 2px 20px 0 rgba(17,22,26,0.15);
    -moz-box-shadow: inset 2px 2px 20px 0 rgba(17,22,26,0.15);
    -webkit-box-shadow: inset 2px 2px 20px 0 rgba(17,22,26,0.15);
}

.info-modal-tabs > ul {
    display: -webkit-box;display: -ms-flexbox;display: flex;
}

.info-modal-tabs > ul > li {
    -webkit-box-flex: 1;-ms-flex: 1;flex: 1
}

.info-modal-tabs > ul > li > a {
    text-align: center;
    color: #444BD6;
}

.info-modal-tabs > .tab-content {
    margin-top: 20px;
}

.acdn-form-group {
    margin-top: 8px;
    margin-bottom: 8px;
}

.advance-form-group {
    margin-top: 8px;
    margin-bottom: 8px;
    float: left;
    width: 100%;
}

.croppie-container .cr-boundary {
    /* -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.acdnModalSelect2 > .select2-container {
    width: 100% !important;
}

.acdn-select-lbl {
    font-weight: 100;
    color: #444BD6;
    font-size: 0.9em;
}

.select2-selection.select2-selection--multiple {
    border-radius: 0 !important;
    border: 0 !important;
}

.select2.select2-container.select2-container--default {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #444BD6 !important;
    border-radius: 0 !important;
}

.select2-selection__choice__remove {
    vertical-align: middle;
}

.edit-color-scheme-tags {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #444bd6;
    vertical-align: middle;
    border-radius: 150%;
    float: left;
    margin: 5px;
    border: 1px solid #333;
}

/* Input */
input.form-control.material-form {
    -moz-user-select: text!important;
    -webkit-user-select: text!important;
    -ms-user-select: text!important;
    user-select: text!important;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #444bd6;
    -webkit-transition: all 0.3s cubic-bezier(0.64,0.09,0.08,1);
    transition: all 0.3s cubic-bezier(0.64,0.09,0.08,1);
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 98%,#444bd6 4%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 98%,#444bd6 4%);
    background-position: -790px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #000;
    border-radius: 0px;
    box-shadow: none;
    height: 42px;
}

input.form-control.material-form:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-radius: 0px;
}

input.form-control.material-form::-webkit-input-placeholder {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input.form-control.material-form:focus::-webkit-input-placeholder {
    color: #444bd6;
    font-size: 11px;
    -webkit-transform: translateY(-13px);
    transform: translateY(-13px);
    visibility: visible!important;
}

.displayNone {
    display: none !important;
}

.acdn-btn-sm {
    font-size: 12px;
}

#dropZone > .content {
    height: 100%;
}

.gif-upload-img {
    height: 100%;
}

/* .modal-dialog {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
} */

.opacity1 {
    opacity: 1;
}

.opacity0 {
    opacity: 0;
}

.zIndex1 {
    z-index: 1;
}

.animated {
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@media screen and (max-width: 425px) {
    .displayNoneForMobile {
        display: none !important;
    }

    .info-modal-tabs > ul > li > a {
        padding: 0;
        white-space: nowrap;
    }

    .gridster-item-resizable-handler.handle-se {
        border-width: 0 0 20px 20px !important;
    }
}

.recaptcha-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recaptcha-wrapper > re-captcha > div > div {
    margin-left: auto;
    margin-right: auto;
}


/* Login Modal - Start */
/* @font-face{
	font-family: 'proxima_novaregular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'),url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),url('../fonts/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_novalight';
	src: url('../fonts/ProximaNova-Light.otf');
}

@font-face {
	font-family: 'proxima_novabold';
	src: url('../fonts/ProximaNova-Bold.otf');
}

@font-face {
	font-family: 'proxima_novasemibold';
	src: url('../fonts/ProximaNova-Semibold.otf');
}

body {
	font-family: 'proxima_novaregular';
	background-color: #fafafa;
	overflow-x: hidden !important;
} */

a, a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
	color: inherit;
	outline: none;
}
/* 
li {
	list-style-type: none;
} */

.form-content {
 border: 0px;
 border-radius: 0px;
}

.form-content>img {
 width: 100%;
 height: auto;
}

#new-login-signup-modal a {
	color: #00aeef;
	padding: 0;
}

input.form-control.material-form {
 -moz-user-select: text!important;
 -webkit-user-select: text!important;
 -ms-user-select: text!important;
 user-select: text!important;
 resize: none;
 margin-left: auto;
 margin-right: auto;
 display: block;
 border: none;
 padding: 10px 0;
 border-bottom: solid 1px #00AEEF;
 -webkit-transition: all 0.3s cubic-bezier(0.64,0.09,0.08,1);
 transition: all 0.3s cubic-bezier(0.64,0.09,0.08,1);
 background: -webkit-linear-gradient(top,rgba(255,255,255,0) 98%,#00AEEF 4%);
 background: linear-gradient(to bottom,rgba(255,255,255,0) 98%,#00AEEF 4%);
 background-position: -790px 0;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 color: #000;
 border-radius: 0px;
	box-shadow: none;
	height: 42px;
}

input.form-control.material-form:focus {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
 border-radius: 0px;
}

input.form-control.material-form::-webkit-input-placeholder {
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

input.form-control.material-form:focus::-webkit-input-placeholder {
 color: #00AEEF;
 font-size: 11px;
 -webkit-transform: translateY(-13px);
 transform: translateY(-13px);
 visibility: visible!important;
}

.btn-material {
	background-color: #444bd6;
 color: #fff;
 margin: 10px 0;
 outline: none;
 text-transform: uppercase;
 transition: all .3s;
 padding: 6px 14px;
 font-size: 13px;
 border-radius: 35px;
}

.btn-material:hover {
 color: #fff;
 box-shadow: 0px 2px 5px 1px #ccc;
}

.btn-arrow {
 padding: 3px 0px;
 width: 75px;
 outline: none;
 color: #00aeef;
 background: white;
 border: 2px solid #00aeef;
 border-radius: 30px;
 z-index: inherit;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 12px;
 margin-top: 0px;
 display: block;
}

.btn-arrow:hover {
 color: #fff;
 background-color: #00AEEF;
}

#new-login-signup-modal .google,#new-login-signup-modal .fb {
 color: #fff;
 font-size: 14px;
 width: 55%;
 border-radius: 0px;
 padding: 0px 0px;
 height: 40px;
	line-height: 38px;
	margin-bottom: 10px;
}

#new-login-signup-modal .google {
 background-color: #b51f1f;
 border-color: #b51f1f;
}

#new-login-signup-modal .fb {
 background-color: #244077;
 border: 1px solid #244077;
}

#new-login-signup-modal .nav-tabs {
 padding-top: 15px;
 position: initial;
 margin-top: 1%;
 border: none;
 text-align: center;
}

#new-login-signup-modal .nav-tabs>li {
 float: none;
 display: inline-block;
}

.email-container,.signup-container {
 padding-top: 35px;
}

.login-container,.signup-socialmedia-container {
	padding-top: 35px;
	text-align: center;
}

@media (max-width: 991px) {
 .email-container,.signup-container {
 padding:22px 0px 0px 0px;
 }

 #s-form,#r-form {
 padding: 10px 0px;
 }

 .login-container,.signup-socialmedia-container {
 position: relative;
 top: 0px;
 padding-top: 25px;
 }

 .login-container>header,.signup-socialmedia-container>header {
 padding: 12px 0px;
 font-size: 16px;
 }

 .google,.fb {
 font-size: 13px;
 }
}

#new-login-signup-modal .nav-tabs>li>a {
 color: #000;
 border-color: #ddd;
 background-color: #fff;
 padding: 7px 50px;
 border-radius: 10px 2px 10px 2px;
}

#new-login-signup-modal .nav-tabs>li.active>a {
 background-color: #444bd6;
 border: 1px solid #444bd6;
 padding: 7px 50px;
 border-radius: 10px 2px 10px 2px;
 color: #fff;
}

@media screen and (max-width: 375px) {
 #new-login-signup-modal .nav-tabs>li>a,#new-login-signup-modal .nav-tabs>li.active>a {
 padding:7px 27px;
 }
}

/* .nav-tabs>li>a:hover {
 border-color: #ddd;
} */

.google-login-icon {
 width: 40px;
 float: left;
 font-size: 20px;
 border-right: 1px solid #961515;
}

.fb-login-icon {
 width: 40px;
 float: left;
 font-size: 20px;
 border-right: 1px solid #4b4b84;
}

.google-login-text {
 position: relative;
 left: -8px;
}

@media screen and (max-width: 1024px) {
 #new-login-signup-modal .google,#new-login-signup-modal .fb {
 width:80%;
 }
}

@media screen and (max-width: 425px) {
 .login-container,.signup-socialmedia-container {
 padding-top:23px;
 }
}

#new-login-signup-modal .visible-md {
 margin: 0 auto;
 width: 100%;
 height: auto;
}

#new-login-signup-modal .forgot-password {
 float: right;
 margin-right: 12%;
}


#login-tab, #signup-tab {
	padding: 15px 35px;
}

#login-tab .form-horizontal .form-group, #signup-tab .form-horizontal .form-group {
 margin-right: 0;
 margin-left: 0;
}

#new-login-signup-modal header {
	padding-bottom: 10px;
 text-align: center;
 font-size: 20px;
}

.modal-title {
	text-align: center;	
}

.or-before-after::before {
	content: "__ ";
 position: relative;
 top: -8px;
}

.or-before-after::after {
	content: " __";
 position: relative;
 top: -8px;
}

@media screen and (max-width: 425px) {
	#login-tab, #signup-tab {
	padding: 0;
	}
}
/* Login Modal - End */