<div bsModal #contactPopupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Your Contact Details</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #contactPopupForm="ngForm" validate>
          <input  type="text"
                  class="form-control material-form"
                  placeholder="Name"
                  required />
          <div class="email-wrapper">
            <input  type="email"
                    class="form-control material-form"
                    placeholder="Email Id"
                    name="email"
                    ngModel
                    #email="ngModel"
                    required/>
          </div>
          <div class="acdn-form-group">
            <div class="phone-wrapper">
              <input  type="text"
                class="form-control material-form"
                placeholder="Phone Number"
                name="phone"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                ngModel
                #phone="ngModel"
                minlength="10"
                maxlength="10"
                required />
            </div>
            <div class="send-otp-wrapper">
              <button type="button"
                      class="acdn-btn acdn-btn-sm send-otp-btn"
                      (click)="sendOTP()"
                      [disabled]="phone.errors">
                Send OTP
              </button>
            </div>

            <div class="otp-wrapper">
                <input  type="text"
                        class="form-control material-form apply-otp-input"
                        placeholder="OTP"
                        name="otp"
                        minlength="1"
                        ngModel
                        #otp="ngModel"
                        required />
              <div class="apply-otp-wrapper">
                <button type="button"
                        class="acdn-btn acdn-btn-sm send-otp-btn apply-otp-btn"
                        [disabled]="otp.errors">
                  Apply OTP
                </button>
              </div>
            </div>

            <div class="message-wrapper" *ngIf="modalTypeNumber == 3">
              <input  type="text"
                      class="form-control material-form message-input"
                      placeholder="Message" />
            </div>
          </div>

          <div class="recaptcha-wrapper">
            <re-captcha site_key="6Lf16z8UAAAAAAFqO27KqX23gGln_O_WfWh4iOBR"
                        (captchaResponse)="handleCorrectCaptcha($event)">
            </re-captcha>
          </div>

          <div class="submit-wrapper">
              <button type="submit"
              class="acdn-btn acdn-btn-sm"
              [disabled]="(!contactPopupForm.valid) && (!reCaptchaSuccess) && (!smsSuccess)">
              Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>