.phone-wrapper {
    display: inline-block;
    width: 70%;
}

.send-otp-wrapper {
    display: inline-block;
    width: 29.33%;
    text-align: center;
}

.apply-otp-input {
    display: inline-block !important;
    width: 70%;
}

.apply-otp-wrapper {
    display: inline-block;
    width: 29.33%;
    text-align: center;
}

.submit-wrapper {
    text-align: center;
}
